@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    background: #585858;
    font-family: 'Roboto';
    color: #ffffff;
}

header{
    display: flex;
    gap: 4rem;
    width: 100vw;
    justify-content: center;
    background-color: #020202;
    color: rgba(255, 255, 255, 0.92);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    padding: 10px;
}

video {
  position: fixed;
  min-height: 100%;
  min-width: 100%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
}

.intro{
  font-size: 25px;
}

.header img{
    display: flex;
   height: 100px;
   align-items: flex-start;
   justify-content: flex-start;
   border-radius: 100%;
   box-shadow: 0 0 20px #616161;
   
}

main {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
}

p{
    font-size: 1.2rem;
    color: #ffffff;
    text-align: center;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 15px;
    background: #121212;
    padding: .5em;
    /* box-shadow: 0 0 5px rgb(255, 255, 255); */
    margin: 20px;
}

footer {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    color: rgba(58, 58, 58, 0.92);
    font-size: 1.2rem;
}

.footer-par {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    background-color: #1d1d1d;
    color: rgba(255, 255, 255, 0.92);
    font-size: 1.2rem;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 1.2rem;
}

.ag-format-container {
    width: 80vw;
    margin: 0 auto;
  }

  .ag-courses_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  
    padding: 50px 0;
  }
  .ag-courses_item {
    -ms-flex-preferred-size: calc(33.33333% - 30px);
    flex-basis: calc(33.33333% - 30px);
  
    margin: 0 15px 30px;
  
    overflow: hidden;
  
    border-radius: 28px;
  }
  .ag-courses-item_link {
    display: block;
    padding: 30px 20px;
    background-color: #121212;
  
    overflow: hidden;
  
    position: relative;
  }
  .ag-courses-item_link:hover,
  .ag-courses-item_link:hover .ag-courses-item_date {
    text-decoration: none;
    color: #FFF;
  }
  .ag-courses-item_link:hover .ag-courses-item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
  }
  .ag-courses-item_title {
    min-height: 80px;
    margin: 0 0 20px;
  
    overflow: hidden;
  
    font-weight: bold;
    font-size: 16px;
    color: #FFF;
  
    z-index: 2;
    position: relative;
  }
  .ag-courses-item_date-box {
    font-size: 30px;
    color: #FFF;
  
    z-index: 2;
    position: relative;
  }
  .ag-courses-item_date {
    font-weight: bold;
    color: #f9b234;
  
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease
  }
  .ag-courses-item_bg {
    height: 128px;
    width: 128px;
    background-color: #f9b234;
  
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
  
    border-radius: 50%;
  
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }
  .ag-courses_item:nth-child(2n) .ag-courses-item_bg {
    background-color: #3ecd5e;
  }
  .ag-courses_item:nth-child(3n) .ag-courses-item_bg {
    background-color: #e44002;
  }
  .ag-courses_item:nth-child(4n) .ag-courses-item_bg {
    background-color: #952aff;
  }
  .ag-courses_item:nth-child(5n) .ag-courses-item_bg {
    background-color: #cd3e94;
  }
  .ag-courses_item:nth-child(6n) .ag-courses-item_bg {
    background-color: #4c49ea;
  }
  .ag-courses_item:nth-child(7n) .ag-courses-item_bg {
    background-color: #00a2ff;
  }
  .ag-courses_item:nth-child(8n) .ag-courses-item_bg {
    background-color: #a4af00;
  }
  .ag-courses_item:nth-child(9n) .ag-courses-item_bg {
    background-color: #ff9292;
  }
  .ag-courses_item:nth-child(10n) .ag-courses-item_bg {
    background-color: #a3a3a3;
  }
  
  
  
  @media only screen and (max-width: 979px) {
    .ag-courses_item {
      -ms-flex-preferred-size: calc(50% - 30px);
      flex-basis: calc(50% - 30px);
    }
    .ag-courses-item_title {
      font-size: 24px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .ag-format-container {
      width: 96%;
    }
  
  }
  @media only screen and (max-width: 639px) {
    .ag-courses_item {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
    }
    .ag-courses-item_title {
      min-height: 72px;
      line-height: 1;
  
      font-size: 24px;
    }
    .ag-courses-item_link {
      padding: 22px 40px;
    }
    .ag-courses-item_date-box {
      font-size: 16px;
    }
  }
