@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgb(110, 131, 131);
}

video {
    position: fixed;
    min-height: 100%;
    min-width: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
}

.stopWatch{
    background-image: linear-gradient(rgba(138, 138, 138, 0.37), rgba(255, 255, 255, 0.308));
    max-width: 600px;
    background-size: cover;
    background-position: center;
    padding: 40px 0;
    margin: 200px auto 0;
    text-align: center;
    color: rgb(209, 26, 26);
    border-radius: 5em;
    backdrop-filter: blur(10px);
}

.stopWatch h1{
    font-size: 80px;
    margin: 50px 0;
}

.controls{
    display: flex;
    align-items: center;
    justify-content: center;
}

.stopWatch img{
    width: 60px;
    margin: 0 30px;
    cursor: pointer;
}

.stopWatch img:nth-child(2){
    width: 90px;
}