h1 {
    color: rgb(13, 13, 14);
    font-size: 28px;
    font-style: normal;
    font-family: monospace;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

body {
    background-color: #f5f8dc;
}

.Menu ul {
    display: flex;
    background-color: rgb(245, 205, 152);
    height: 3rem;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

div li {
    list-style: none;
    margin-left: 20px;
}

div ul li a {
    text-decoration: none;
    color: black;
    transition: all.5s;
}

div ul li a:hover {
    color: gainsboro;
}

hr {
    display: flex;
    background-color: rgb(248, 201, 140);
    height: 1rem;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

h1 {
    background: url("fondo-encabezado.jpg") no-repeat center;
}

img {
    width: 250px;
    margin-right: 25px;
    border-top: 15px;
    border-radius: 20px;
}

th {
    color: rgb(245, 74, 74);
    font-size: 24px;
    font-style: normal;
    font-family: monospace;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    justify-content: center;
}

p {
    font: size 22px;
    font-family: cursive;
    text-align: center;
}

td {
    font: size 19px;
    font-style: normal;
    font-family: monospace;
    text-align: center;
}

li {
    font: size 21px;
    font-style: normal;
    font-family: monospace;
    text-align: justify;
}

label {
    font: size 19px;
    font-style: normal;
    font-family: monospace;
    text-align: center;
}

.hola {
    width: 50px;
}