h1 {
    color: rgb(13, 13, 14);
    font-size: 28px;
    font-style: normal;
    font-family: Challenge The World;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

body {
    background-color: #f5f8dc;
}

.Menu ul {
    display: flex;
    background-color: rgb(233, 231, 111);
    height: 3rem;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

div li {
    list-style: none;
    margin-left: 20px;
}

div ul li a {
    text-decoration: none;
    color: black;
    transition: all.5s;
}

div ul li a:hover {
    color: gainsboro;
}

hr {
    display: flex;
    background-color: rgb(233, 231, 111);
    height: 1rem;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

h1 {
    background: url("fondo-encabezado.jpg") no-repeat center;
}

img {
    width: 250px;
    margin-right: 30px;
    border-top: 15px;
    border-radius: 250px;
}

th {
    color: rgb(247, 66, 66);
    font-size: 18px;
    font-style: normal;
    font-family: Challenge The World;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    justify-content: center;
}

p {
    font-size: 20px;
    font-family: cursive;
    text-align: center;
}

td {
    font: size 7px;
    font-style: normal;
    font-family: Challenge The World;
    text-align: center;
}

li {
    font: size 7px;
    font-style: normal;
    font-family: Challenge The World;
    text-align: center;
}

label {
    font: size 19px;
    font-style: normal;
    font-family: Challenge The World;
}

.hola {
    width: 50px;
    text-align: center;
}

.tabla {
    display: flex;
    justify-content: center;
    margin: 1em;
    margin-left: 16%;
    border: solid 3px;
    border-radius: 20px;
    padding: 2em;
    height: 7rem;
    width: 60vw;
    box-shadow: 0 0 10px rgba(233, 236, 54, 0.904);
}

.tabla {
    display: flex;
    justify-content: center;
}

a {
    font-size: 20px;
    font-style: normal;
    font-family: Challenge The World;
    text-align: center;
}

.imagen {
    width: 35px;
}

h2 {
    font-size: 15px;
}