

body{
    background-color: rgb(60, 153, 234);
}


.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.miButton {
    padding: 2rem;
    box-shadow:5px 7px 7px black ;
    border-radius:  20px;
   
}

 