html{
    font-family: 'Montserrat', sans-serif;
}

#body{
    background-color: rgb(183, 255, 215);
    font-size: large;
}
#navegacion{
    width: 100%;
    margin: 10px;
    border: solid white;
    background-color:  aqua;
    border-radius: 20px;
    text-align: center;
    color: gray;
    background-color: gray
    text crimson;
}

#nombre{
    text-align: center;
    text-shadow: 3px 5px rgb(204, 204, 204);   
}
.imagen{
    display: flex;
    width: 100vw;
    justify-content: center;
}

.imagen img{
    position: relative;
    width: 220px;
    height: 210px;
    image-rendering: crisp-edges;
    border-radius: 50%;
    box-shadow: 0 0 7px rgba(187, 77, 77, 0.904);
    transition: opacity .1s;
    max-width: 200px;
}

#info{
text-align: center;
}

#presentacion{
    text-align: center;
}

/* tabla de experiencia*/

#experiencia{
    text-align: center;
    text-shadow: 3px 5px rgb(204, 204, 204); 
    background-color: aqua;    
}

#cabecera{
    text-align: center;
    }

#tabla{
    width: 800px;
    margin: 0 auto;
    border: solid white;
    background-color:  rgb(145, 255, 193);
    border-radius: 20px;
    text-align: center;  
}

/*habilidades*/

#habilidades{
    text-align: center;
    text-shadow: 3px 5px rgb(204, 204, 204);  
    background-color: aqua; 
}

#contenido{
text-align: center;
}

/*tabla de educacion*/

#tablae{
    width: 600px;
    margin: 0 auto;
    border: solid white;
    background-color:  rgb(145, 255, 193);
    border-radius: 20px;
    text-align: center;
    justify-content: center;
}

/* educacion*/

#educacion{
    text-align: center;
    text-shadow: 3px 5px rgb(204, 204, 204);  
    background-color: aqua; 
    border: solid white;
}


/* perfiles sociales*/

#perfiles {
    text-align: center;
    text-shadow: 3px 5px rgb(204, 204, 204); 
    background-color: aqua;  
    border: solid white; 
}

#redes{
    text-align: center;
    list-style-type: square;
}

/* contactar*/

#contactar{
    text-align: center;
    text-shadow: 3px 5px rgb(204, 204, 204);    
    border: solid white;
    background-color: aqua;
    
}

#medios{
text-align: center;
list-style-type: circle;
background-color: rgb(145, 255, 193);
border: solid white;
border-radius: 10px;
width: 600px;
margin: 0 auto;
}





