@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* menu */

.container-header {
background: #1e2326;
position: fixed;
width: 100%;
top: 0;
left: 0;
z-index: 99;
}

/* alinear elemntos*/

.container-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

/* elementos de logo*/

.container-header header .logo a{
    font-family: 'Fjalla One', sans-serif;
    font-size: 40px;
    color: #508dff;
    text-decoration: none;
    text-shadow: 5px 2px 10px;
}

/* estilo de navegacion */

.container-header header ul{
    display: flex;
    list-style: none;
}

.container-header header nav ul li a{
    text-align: none;
    color: #fff;
    margin: 0 15px;
    transition: .5s;
    text-decoration: none;
}

/* color de texto navegacion */

.container-header header nav ul li a{
    font-family: 'Fjalla One', sans-serif;
    font-size: 20px;
    color: #508dff;
    box-shadow: #508dff;
}

/* color de incono de menu */

.nav-responsive{
    background-color: #508dff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

/* ocular icono de menu*/

.nav-responsive{
    background-color: #508dff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

@media screen and (max-width:980px){
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    .responsive{
        display: block;
        position: absolute;
        right: 1em;
        top: 3.3em;
        background-color: #754af6;
        width: fit-content;
        margin-left: 1rem;
    }
    .responsive ul{
        display: block !important;
    }
    .nav-responsive ul li{
        border-bottom: 1px solid rgb(233, 204, 204);
        padding: 10px 0;
    }
}

/* foto de perfil */

/* Inicio de sesion */

.inicio{
background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,.1)), url(/resources/sergionarvaez/img/fondo.jpg) no-repeat center center;
background-size: cover;
height: 60vw;
color: #fff;
display: flex;
align-items: center;
}

.inicio .container-banner{
    padding: 20px;
    background-color: #1e2326;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
    box-shadow: 2px 2px 20px 5px #508dff;
}

.inicio .container-banner img{
    margin-top: 40px;
    border: 10px solid #508dff;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
    box-shadow: 5px 5px 20px 2px #508dff;
}

.inicio .container-banner h1{
    margin-top: 40px;
    font-size: 42px;
    font-family: 'Montserrat', sans-serif;
}

.inicio .container-banner h2{
    font-size: 15px;
    font-weight: normal;
}

.inicio .container-banner .redes a{
    color: #fff;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

.inicio .container-banner .redes a:hover{
    background-color: #508dff;
}

/*seccion sobre mi*/

.sobremi{
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
    height: fit-content;
}

.sobremi .container-section{
    max-width: 1100px;
    margin: auto;
}

/*Centrar Subtitulo*/

.sobremi h2{
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 20px 0;
}

.sobremi .container-section p{
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}

.sobremi .container-section p span{
    color: #508dff;
    font-weight: bold;
}

.sobremi .fila{
    display: flex;
}

.sobremi .fila .col{
    width: 50%;
}

.sobremi .fila .col h3{
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 25px;
}

/*quitar puntos de lista*/

.sobremi .fila .col ul{
    list-style: none;
}

.sobremi .fila .col ul li strong{
    display: inline-block;
    color: #508dff;
    width: 130px;
}

.sobremi .fila .col ul li span{
    background-color: #508dff;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}

.sobremi .fila .col .container-intereses{
    display: flex;
    flex-wrap: wrap;
}

.sobremi .fila .col .container-intereses .intereses{
    width: 100px;
    height: 100px;
    background-color: #252a2e;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.sobremi .fila .col .container-intereses .intereses:hover{
    background-color: #508dff;
}

.sobremi .fila .col .container-intereses .intereses i{
    font-size: 30px;
    margin-bottom: 10px;
}

.sobremi button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}

.sobremi button:hover .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #508dff;
    z-index: -1;
    transition: 1s;
}

.sobremi button:hover .overlay{
    width: 100%;
}

/*seccion de skills*/

.skills{
    background-color: #252a2e;
    color: #fff;
    padding: 50px 20px;
}

.skills .container-section{
     max-width: 1100px;
     margin: auto;
}

.skills h2{
    font-size: 48px;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        padding: 20px 0;   
}

.skills .fila{
    display: flex;
}

.skills .fila .col{
    width: 50%;
    padding: 0 20px;
}

.skills .fila .col h3{
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 25px;
}

.skills .skill > span{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.skills .skill .barra-skill{
    height: 8px;
    width: 80%;
    background-color: #131517;
    position: relative;
    margin-bottom: 30PX;
}

.skills .skill .progreso{
    background-color: #508dff;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}

.skills .skill .barra-skill span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #508dff;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}

/*agregamos una pequeña animacion a las siguientes clases de las skills mediante javascript*/

.skills .skill .javascript{
    width: 0%;
    animation: 2s javascript forwards;
}

@keyframes javascript{
    0%{width: 0%;}
    100%{width: 40%;}
}

.skills .skill .htmlcss{
    width: 0%;
    animation: 2s htmlcss forwards;
}

@keyframes htmlcss{
    0%{width: 0%;}
    100%{width: 40%;}
}

.skills .skill .react{
    width: 0%;
    animation: 2s react forwards;
}

@keyframes react{
    0%{width: 0%;}
    100%{width: 50%;}
}

.skills .skill .diseño{
    width: 0%;
    animation: 2s diseño forwards;
}

@keyframes diseño{
    0%{width: 0%;}
    100%{width: 70%;}
}

/*animaciones de skills profesionales*/

.skills .skill .comunicacion{
    width: 0%;
    animation: 2s comunicacion forwards;
}

@keyframes comunicacion{
    0%{width: 0%;}
    100%{width: 95%;}
}

.skills .skill .equipo{
    width: 0%;
    animation: 2s equipo forwards;
}

@keyframes equipo{
    0%{width: 0%;}
    100%{width: 92%;}
}

.skills .skill .creatividad{
    width: 0%;
    animation: 2s creatividad forwards;
}

@keyframes creatividad{
    0%{width: 0%;}
    100%{width: 95%;}
}

.skills .skill .dedicacion{
    width: 0%;
    animation: 2s dedicacion forwards;
}

@keyframes dedicacion{
    0%{width: 0%;}
    100%{width: 87%;}
}

/*curriculum*/

.curriculum{
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}

.curriculum .container-section{
    max-width: 1100px;
    margin: auto;
}

.curriculum h2{
    font-size: 48px;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        padding: 20px 0;
}

.curriculum .fila{
    display: flex;
}

.curriculum .fila .col{
    width: 50%;
    padding: 0 20px;
}

.curriculum .fila .col h3{
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 25px;
}

.curriculum .fila .izquierda{
    border-right: 2px solid #252a2e;
}

.curriculum .fila .derecha{
    border-left: 2px solid #252a2e;
}

/*estilo del item*/

.curriculum .fila .item{
    padding: 25px;
    margin-bottom: 30px;
    background-color: #252a2e;
    position: relative;
}

.curriculum .fila .item h4{
    font-size: 20px;
    margin-bottom: 10px;
}

.curriculum .fila .item .casa{
    color: #508dff;
    font-size: 22px;
    font-weight: bold;
    display: block;
}

.curriculum .fila .item .fecha{
    display: block;
    color: #508dff;
    margin-bottom: 10px;
}

.curriculum .fila .item p{
    line-height: 24px;
}

/*estilo de las filas*/

.curriculum .fila .izq{
    border-right: 2px solid #508dff;
    margin-right: 20px;
}

.curriculum .fila .der{
    border-left: 2px solid #508dff;
    margin-left: 20px;
}

/*estilos de los conectores y simbolos*/

.curriculum .fila .item .conectori{
    height: 2px;
    background-color: #508dff;
    width: 47px;
    position: absolute;
    top: 50%;
    right: -47px;
    z-index: 5;
}

.curriculum .fila .item .conectori .circuloi{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #508dff;
    float: right;
    position: relative;
    bottom: 4px;
}

.curriculum .fila .item .conectord{
    height: 2px;
    background-color: #508dff;
    width: 47px;
    position: absolute;
    top: 50%;
    left: -47px;
    z-index: 5;
}

.curriculum .fila .item .conectord .circulod{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #508dff;
    float: left;
    position: relative;
    bottom: 4px;
}

.curriculum .fila{
    display: flex;
    justify-content: space-between;
}

/*Seccion Portafolio*/

.portafolio{
    background-color: #252a2e;
    color: #fff;
    padding: 50px 20px;
}

.portafolio .container-section{
    max-width: 1100px;
    margin: auto;
}

.portafolio h2{
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 20px 0;
    color: #fff;
}

.portafolio h3{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 20px 0;
    color: #fff;
}

.portafolio p{
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 20px 0;
    color: #fff;
}

.portafolio .galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portafolio .galeria .proyecto{
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}

.portafolio .galeria img{
    width: 100%;
    display: block;
}

.portafolio .galeria .proyecto .overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(#508dff94 , #508dff);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}

.portafolio .galeria .proyecto h3{
    margin-bottom: 20px;
    transition: 1s;
}

.portafolio .galeria .proyecto .overlay:hover{
    opacity: 1;
}

.portafolio .galeria .proyecto .overlay:hover h3{
    margin-bottom: 0px;
}

/* seccion de contacto */

.contacto{
    background-image: url(../img/fondo2.3.jpg);
    background-color: #1e2326;
    color: #fff;
    padding: 50px 0;
    opacity: 1;
}

.contacto .container-section{
    max-width: 1100px;
    margin: auto;
}

.contacto h2{
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 20px 0;
}

.contacto .fila{
    display: flex;
}

.contacto .col{
    width: 50%;
    padding: 10px;
    position: relative;
}

.contacto .col input, .contacto .col textarea{
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #252a2e;
    color: #fff;
    font-size: 18px;
}

.contacto button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}

.contacto button:hover .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #508dff;
    transition: 1s;
    z-index: -1;
}

.contacto button:hover .overlay{
    width: 100%;
}

.contacto .col img{
    width: 100%;
}

.contacto .col .info{
    position: absolute;
    top: 40%;
    background-color: #252a2e;
    padding: 20px;
    width: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contacto .col .info ul{
    list-style: none;
}

.contacto .col .info ul li{
    margin-bottom: 20px;
}

.contacto .col .info ul li i{
    color: #508dff;
    display: inline-block;
    margin-right: 20px;
}

/*footer*/

footer{
    background-color: #252a2e;
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}

footer .redes{
    margin-bottom: 20px;
}

footer .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: 3s;
}

footer .arriba{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #508dff;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50px;
    line-height: 50px;
    font-size: 18px;
}

/* Media Quires - Responsive */

@media screen and (max-width:980px){
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }

    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252a2e;
        width: 180px;
    }

    nav.responsive ul{
        display: block !important;
    }

    nav.responsive ul li{
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }

    #contacto {
        border: none !important;
    }

    nav.responsive nav.ocultar-menu {
        opacity: 0;
        transition: opacity 8s ease-in-out;
    }
    .responsive.cerrar-menu {
        transform: translateX(-100%);
    }
    @keyframes cerrar-menu {
        from {
            transform: translateX(0%);
            transition: opacity 8s ease-in-out;
        }
        to {
            transition: opacity 0.5s;
            transform: translateX(-100%);
        }
    }
}

@media screen and (max-width:700px){
    .sobremi .fila{
        display: block;
    }
    .sobremi .fila .col{
        width: fit-content;
    }
    .skills .fila{
        display: block;
    }
    .skills .fila .col{
        width: 100%;
    }
    .skills .fila .col .barra-skill{
        width: 100%;
    }
    .curriculum .fila{
        display: block;
    }
    .curriculum .fila .col{
        width: 90%;
    }
    .curriculum .fila .derecha{
        margin-left: 20px;
    }
    .portafolio .galeria{
        display: block;
        width: 100%;
    }
    .portafolio .galeria .proyecto{
        max-width: 100%;
    }
    .portafolio .galeria .proyecto img{
        width: 100%
        }
        .contacto .fila{
            display: block;
        }
        .contacto .fila .col{
            width: 100%;
        }
    }

@media (min-width: 900px) {
    .nav-responsive{
        display: none;
    }
}