#body{
    background-color: rgb(177, 220, 255);
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

#navegacion{
    width: 100%;
    margin: 10px;
}

#nombre{
    text-align: center;
    text-shadow: 3px 5px gray;   
}

#imagen{
width: 220px;
height: 210px;
image-rendering: crisp-edges;
opacity: .8;
border-radius: 50%;
box-shadow: 0 0 7px rgb(187, 77, 77, 0.904);
transition: opacity .5s;
}

#info{
text-align: center;
}

/* tabla de experiencia*/

#experiencia{
    text-align: center;
    text-shadow: 3px 5px gray;
}

#cabecera{
    text-align: center;
    }

#tabla{
    width: 80vw;
    border: solid;
    border-radius: 20px;
    text-align: center;
}

/*habilidades*/

#habilidades{
    text-align: center;
}

/*tabla de educacion*/

#educacion{
    width: 60%;
    border: solid;
    border-radius: 20px;
    text-align: center;
}

/* perfiles sociales*/