/*importar las fuente*/
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700&family=Yellowtail&display=swap');
*{
    font-family:"titilium web";
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
/*SECCION INICIO*/
.inicio{
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)),
    url("img/fondo.jpg");
    background-size: cover;
    background-position: center center;
    color:white;
}

.inicio .container-seccion{
    max-width: 1000px;
    margin: auto;
    text-align: center;
    padding: 0 10px; 
}

.inicio .container-seccion header{
    padding: 30px;
}

/*menu lateral*/
.inicio .container-seccion header nav{
    position: fixed;
    margin-left: 60px;
    background-color: #6a6abe;
    padding: 15px;
    border-radius: 10px;
    text-align: left;
    z-index: 99;
    display:none;
}

.inicio .container-seccion header nav a{
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    font-weight: bold;
}

.inicio .container-seccion header .logo{
    font-weight: bold;
    font-size: 2.5rem;
    font-family:"Yellowtail";
    text-shadow: 0 0 35px white;
}

.inicio .container-seccion header .logo .color{
    color:#6a6abe;
    font-family:"Yellowtail";
}

.inicio .container-seccion header .nav-bar{
    position: fixed;
    background-color: #6a6abe;
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    cursor: pointer;
    transition: .3s;
}

.inicio .container-seccion header .nav-bar:hover{
    box-shadow: 0 0 35px white;

}

.inicio .container-seccion .info{
    padding-bottom: 130px;
}

.inicio .container-seccion .info h1{
    font-weight: normal;
    font-size: 3rem;
    letter-spacing: 5px;
}

.inicio .container-seccion .info .redes{
    margin: 20px 0;
}

.inicio .container-seccion .info .redes a{
    display:inline-block;
    text-decoration: none;
    background-color: #000;
    color: #6a6abe;
    border: 1px solid #6a6abe;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 5px;
    transition: .3s;
}

.inicio .container-seccion .info .redes a:hover{
    color:white;
    background-color: #6a6abe;
    box-shadow: 0 0 20px white;
}

.inicio .container-seccion .foto{
    position:relative;
}

.inicio .container-seccion .foto img{
    max-width: 200px;
    border-radius: 50%;
    border: 5px solid #6a6abe;
    position: absolute;
    left: 50%;
    top: -100px;
    transform: translateX(-50%);
}  

/*ESTILOS GENERALES*/

.titulo-seccion{
    font-family: "Yellowtail";
    font-size: 1.5 rem;
}

/*SECCION SOBRE MI*/

.sobremi{
    background-color: #e6e6e6;
    padding: 140px 0 100px 0;
    text-align:center;
}

.sobremi .container-seccion{
    max-width: 100px;
    margin: auto;
    padding: 0 10px;
}

.sobremi .container-seccion h2{
    text-transform: uppercase;
    font-size: 30px;
}

.sobremi .container-seccion .especial{
    color: #6a6abe;
    font-weight: bold;
    margin-top: 15px;
}
.sobremi .container-seccion p{
    max-width: 700px;
    margin: auto;
    color: #666;
}

/*SECCION HABILIDADES*/

.habilidades{
    padding: 88px 0 100px 0;
    text-align: center;
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)),
    url("img/fondo.jpng");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    color: white;
}

.habilidades .container-seccion{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}

.habilidades .container-seccion h3{
    text-transform: uppercase;
    font-size: 30px;
}

.habilidades .container-seccion .fila{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.habilidades .container-seccion .fila .col{
    width: 47%;
    text-align: left;
}

.habilidades .container-seccion .fila .col .cont-barra{
    display:flex;
    align-items: center;
}

.habilidades .container-seccion .barra{
    display: flex;
    border: 1px solid #6a6abe;
    padding: 2px;
    border-radius: 3px;
    margin-right: 10px;
}

.habilidades .container-seccion .barra .e{
    background-color: #363636;
    width: 20px;
    height: 30px;
    margin-right: 2px;
}

/*Secion Experiencia*/

.experiencia{
    background-color: #e6e6e6;
    padding: 140px 0 100px 0;
    text-align: center;
}
.experiencia .container-seccion{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}

.experiencia .container-seccion .h3{
    text-transform:uppercase;
    font-size: 30px;
}

.experiencia .container-seccion .info{
    text-align: left;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.experiencia .container-seccion .info .col{
    width: 45%;
}

.experiencia .container-seccion .info .col .titulo{
    display: inline-block;
    color: #6a6abe;
    font-weight: bold;
    border: 2px solid #6a6abe;
    padding: 10px;
}

.experiencia .container-seccion .info .col table{
    margin-top: 30px;
    border-collapse: collapse;
}

.experiencia .container-seccion .info .col table .datos{
    margin-top: 30px;
    border-bottom: 1px solid #bab9b9;
}

.experiencia .container-seccion .info .col table h4{
    margin-top: 10px;
}

.experiencia .container-seccion .info .col table h3{
    font-size: 20px;
    margin-bottom: 5px;
}

.experiencia .container-seccion .info .col table p{
    font-size: 14px;
}
