*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;

}

body{
    background-image: url(../img/tipos-asteroides-default.jpg);
    background-size: cover;
    background-position: center;
}

.formu{
    display: grid;
    justify-content: center;
    align-items:center ;
    max-width: 600px;
    background-size: cover;
    background-position: center;
    padding: 40px 0;
    margin: 200px auto 0;
    text-align: center;
    color: rgb(255, 255, 255);
    border-radius: 5em;
    background-color:  rgba(255, 255, 255, 0.192);
    backdrop-filter: blur(35px);
}

.formu h2{
    margin: .50rem;
    font-size: 30px;
}

.formu input{
    font-size: 20px;
    text-align: center;
    margin: 1rem;
    width: 20rem;
    border: none;
    height: 2rem;
    box-shadow: 0 0 2px;
    border-radius: 2rem;
}

.formu input:hover{
    box-shadow: inset 0 0 3px gray;
}

button{
    margin: 1rem;
    background-color: antiquewhite;
    border: none;
    box-shadow: 0 0 4px;
    height: 2rem;
    border-radius: 3rem;
    font-size: 25px;
}

button:active{
    background-color: rgb(209, 233, 233);
    box-shadow: inset 0 0 4px;
    border-radius: 3rem;
    font-size: 20px;
}