*, *::before, *::after {
 box-sizing: border-box;
 font-family: Gotham Rounded, sans-serif;
 font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(
      to top,
      rgba(30, 35, 39, 0.646),
      rgba(30, 35, 38, 1)
    );
}
.back{
    margin: 3rem;
}
.back .btn-back {
    background-color: rgba(3, 216, 56, 0.75);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
.btn-back i {
    margin-right: 5px;
}

.back .btn-back :hover{
    background-color: rgba(7, 249, 67, 0.75);
}
.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}
.back .btn-back a{
    color: white;
}

.calculator-grid >button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(3, 216, 56, 0.75);   
}

.calculator-grid >button:hover {
    background-color: rgba(3, 216, 56, 0.507);
}
.span-two{
    grid-column: span 2;
}
.output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding:  10px;
    word-wrap: break-word;
    word-break: break-word;
    word-break: break-all;
}
.output .previus-operand{
    color: rgba(7, 248, 67, 0.673);
    font-size: 1.5rem;
}

.output .current-operand {
    color: rgb(7, 248, 67);
    font-size: 2.5rem;
}
