@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;200;400;600;800&display=swap');
*{
    box-sizing: border-box;
}
body{
    font-family: 'Rajdhani';
    background: url(/resources/luisgamba/);
}