h1{
    color:rgb(255, 255, 255);
    text-align: center;
    font-size: 30 px;
    text-decoration: gold;
    text-transform: uppercase;
}
h1{
    background:rgb(0, 0, 0) ;
}
p{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
h2{
    color:rgb(255, 255, 255);
    font-size: smaller;
    text-decoration: rgb(51, 50, 43);
    text-transform:none;
    background: rgb(46, 46, 46);
    font-family: 'Courier New', Courier, monospace;
}
h2{
    font-size: 15px;
}
h3{
    color:rgb(2, 2, 2);
    text-decoration: rgb(51, 50, 43);
    text-transform:none;
    font-family: 'Courier New', Courier, monospace;
}
th{
    color:rgb(21, 0, 255);
    text-transform:capitalize;
}
li{
    color:rgb(3, 3, 3);
    text-transform:none;
}
html{
    background-color: rgb(204, 202, 207);
}
img{
    width: 200px;
    border-radius: 295px;
    
}
.Menu {
    padding: 1em;
}
.center {
    display: flex;
    justify-content: center;
}
div ul{
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 10px;
    background: rgb(17, 17, 17);
    list-style: none;
}
div li a{
    color: rgb(255, 255, 255);
    display: block;
    text-decoration: none;
    padding: .7em 1em;

}
div li a:hover{
    background: rgb(163, 163, 163);
}

html{
    font-size:large;
}
.icono{
width: 50px;
}