@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Lexend Deca';
}

.card-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    margin: 0;
    padding: 0; /* ! <---- colocar nuevo padding */
    width: 250px;
    height: 450px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 30px;
    padding: 20px 50px 20px 50px;
}
.card img{
    margin-top: 20px;
    width: 75px;
}
.card p{
    color: hsla(0, 0%, 100%, 0.75);
}
.card .title{
    color: aliceblue;
    font-weight: 900;
    font-size: 2.5rem;
    margin: 10px;
}
.card-1{
    background: hsl(31, 77%, 52%);
    border-radius: 20px 0 0 20px;
}
.card-2{
    background: hsl(184, 100%, 22%);
}
.card-3{
    background: hsl(179, 100%, 13%);
    border-radius: 0 20px 20px 0;
}
.card button{
    background: white;
    color: rgb(135, 121, 121);
    font-size: 20px;
    border: none;
    border-radius: 40px;
    width: 170px;
    height: 50px;
    transition: all .5s;
}
.card button:hover{
    background: transparent;
    border: 2px solid white;
    color: white;
    cursor: pointer;
}