body{
    background-color: rgb(37, 26, 158);
    background: url(../img/teg.avif);
}
.imajen{
    height: px;
    border-radius: 50%;
}
.center ul{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center ul li{
    margin-left: 1.5em;
    list-style: none;
    color: rgb(214, 204, 204);
}
.center ul li a{
    color: rgb(248, 245, 246);
    text-decoration: none;
}
.info{
    display: flex;
    width: 100vw;
    height: auto;
    flex-direction: column;
    align-items: center;
}
img{
    width: 12rem;

}
.menu{
    padding: 1 em;

}
.ceneter {
 display: flex;
 justify-content: center;


}
div ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 10;
     background:rebeccapurple(17,17,17)
     list-style 
}
 div li a{
     color: rgba(23, 18, 6, 0.93);
     display:block;
     text-decoration: none;
     padding: .7em 1em;

 }
 div li a{
     background: rgb(181, 187, 188);
 }
