  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

  * {
      font-family: "Poppins", sans-serif;
  }

  body {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow-y: hidden;
      background-color: rgb(3, 11, 37);
  }

  .tag {
      font-size: 0.9rem;
      background-color: black;
      border-radius: 5px;
      width: 4rem;
      display: flex;
      justify-content: center;
      color: #fff;
  }

  /*producto*/
  .product-title {
      font-size: 2rem;
      font-weight: 700;
  }

  .product-card {
      background-color: white;
      display: grid;
      grid-template-rows: 55% 45%;
      height: 80%;
      width: 30%;
      border-radius: 35px;
      box-shadow: 10px 10px 25px 0px #ebe2e2;
  }

  .product-image {
      background-image: url(https://www.bugatti.com/fileadmin/_processed_/sei/p54/se-image-bcae0f8a6d92bc768d0bf6b3eda08656.webp);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      padding: 40px 10px;
      width: 96%;
      height: 79%;
      opacity: 1;
      border-radius: 15px;
  }

  .product-description {
      background-color: #373837;
      color: #fff;
      padding-left: 20px;
      margin-top: -67px;
      border-radius: 15px;
  }

  .product-details {
      display: flex;
      flex-direction: column;
      margin-top: -20px;
  }

  .product-image img {
      width: 28rem;
  }

  .stars {
      color: yellow;
      font-size: 1em;
  }

  .colors-price {
      display: flex;
      align-items: center;
      width: 70%;
      justify-content: space-between;
      margin-top: -15px;
      
  }

  .colors{
    display: flex;
    width: 6rem;
    justify-content: space-between;
    cursor: pointer;
  }
.colors img {
  margin: 10px;
    width: 35px;
    height: 35px;
   
}
 /* .red{
   
    width: 5px;
    height: 5px;
    border-radius: 50%;
  }

  .black{
    background: black;
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }

  .gray{
    background: gray;
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }*/

  .pricing{
    display: flex;
    width: 12rem;
    justify-content: space-between;
    align-items: center;
  }

  .old-price {
    font-weight: 100;
  }

  button{
    cursor: pointer;
  }
  #button{
    background-color: #000;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
  }

  button white-button {
    background-color: #fff;
  }

  .button-text {
    color: #fff;
    margin-left: 5px;
  }

  .feedback {
    display: none;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
  }