body{
    background-color: green;
}




.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.butto{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 200px;
    box-shadow: 7px 7px 7px black;
    border-radius: 20px;
    padding: 15px 32px;
}
