@import url('https://fonts.googleapis.com/css2? family= Poppins:wght@400;500;700 & display=swap');

*{
    font-family: 'Poppins', sans-serif;
}
 
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: rgb(120, 120, 120);
}

.container{
    background-color: rgb(206, 203, 209);
    width: 700px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    gap: 10px;
}

h1{
    font-size: 28px;
    margin: 10px;
}

h3{
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin: 10px;
}

input{
    width: 90%;
    height: 40px;
    border-radius: 15px;
    box-shadow: 3px 3px 10px rgba(255, 255, 255, 0.6);
    padding: 5px 10px;
    font-size: 18px;
    margin-bottom: 10px;
}

.btn{
    background-color: rgb(57, 166, 120);
    padding: 10px 10px;
    border-radius: 10px;
    border: 2px solid;
    box-shadow: 3px 3px 3px rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 500;
    margin-top: 0% auto;
    cursor: pointer;
}

.error{
    background-color:rgba(57, 166, 120);
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 5px 0;
    text-align: center;
    width: 70%;
    display: none;
}