@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: hsl(257, 40%, 49%);
    background-image: url('../images/bg-desktop.svg');
}
.title{
    position: absolute;
    display: inline-block;
    top: -1em;
    left: 4em;
}
.title h2{
    display: inline-block;
    font-size: 3em;
}
.title .cloud{
    font-size: 3em;
}
.contain-p .container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    color: white;
}
.contain-p .container .home{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contain-p .container .home div{
    display: inline-block;
    gap: 1em;
}
.contain-p .container .home .c-left,
.contain-p .container .home .c-right{
    width: 45%;
    height: auto;
    margin: 1em;
}
.c-left img{
    width: 680px;
}
.contain-p .container .home .c-right{
    font-size: 1.2em;
}
.contain-p .container .home .c-right button{
    background: snow;
    border: none;
    border-radius: 20px;
    padding: 10px 40px 10px 40px;
    color: rgba(100, 92, 92, 0.83);
    font-size: 1.2em;
    transition: all .5s;
}

.contain-p .container .home .c-right button:hover{
    color: snow;
    background: hsl(300, 69%, 71%);
    border: 1px solid hsl(300, 69%, 71%);
}

.nav-reds{
    width: 100vh;
    display: flex;
    justify-content: flex-end;
    gap: 7px;

}
.nav-reds .fa-brands{
    font-size: 1.8em;
    border: 1px solid snow;
    padding: 15px;
    border-radius: 50%;
    transition: all .5s;
}

.nav-reds .fa-brands:hover{
    color: hsl(300, 69%, 71%);
    border: 1px solid hsl(300, 69%, 71%);
}