body{
    background-color: greenyellow;
    padding: 0;
    margin: 0;
}
main{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
span{
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3em;
    background-color: bisque;
    padding: 0 3em;
    box-shadow: 10px 10px 0 grey;
    border-radius: .2em;
    color: rgb(39, 37, 37);
    font-weight: bold;

    transition: all .2s;
}
span:active{
    background: rgb(53, 52, 50);
    box-shadow: 10px 10px 0 rgb(223, 214, 214);
    color: antiquewhite;
    position: absolute;
    top: 10;
    left: 10;
}
#count{
    position: absolute;
    top: .5em;
    left: 3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
}
#btns{
    position: absolute;
    bottom: 1em;
    right: 1em;
    display: flex;
    gap: .5em;
}
#btns p{
    padding: 0 1em;
    background-color: antiquewhite;
    font-size: 2em;
    border-radius: .2em;
    box-shadow: 0 0 7px rgb(34, 33, 33);
    font-weight: bold;
    box-shadow: 10px 10px 0 grey;
    cursor: pointer;

    transition: all .2;
}
#btns p:active{
    background-color: rgb(53, 52, 50);
    color: antiquewhite;
    box-shadow: 10px 10px 0 rgb(223, 214, 214);
}
#date{
    position: absolute;
    right: 1em;
    top: 1em;
    font-size: 2em;
}