body
{
	front-family: "courier new";
	front-size: 25px;
	color: #0C3;
	background color: #000;
}

h1
{
	front-family: "Times New Roman";
	front-size: 30px,;
	text-align:center;
	color: #FC0;
}

h2
{
	front-family: sans-serif;
	front-style: italic;
	color:#940;
}

p
{
	ront-family: arial;
	front-size: 14px;
	color: #06C;
	text-decoration: none;
	text-align: right;
	padding: 200px;
}


.titulos
{
	front-family: "Lucida Console";
	front-size: 36px;
	color:#900;
	text-decoration: underline;
	text-align: center;
}

#tabla1
{
	front-family: "Comic Sans MS";
	front-size: 12px;
	color: #CF0;
	background color: #033;
	height: 600px;
	width: 600px;
	margin: 2px;
	padding: 2px;
	border: 2px solid #CF0;
	text-align: center;
}
td 
{
	border: 2px dashed #CF0;
	height: 200px;
	width: 200px;
	padding: 5px;
}
th 
{
	background-color: #036;
	border: 2px double #FF0;
	front-size: 16px;
}