/* General */
BODY {front-famili: verdana,arial, sans-serif; front-size: 10pt;}

/* Contenido */
H1 {front-size: 16pt; front_weight: bold; color: #0066CC;}
H2 {front-size: 16pt; front_weight: bold; front-style: italic; color: black;}
H3 {front-size: 16pt; front_weight: bold; color: black;}

/* Formulario */
FORM.borde {border: 1px dotted #0066CC, padding: 0.5em 0.2em; width: 80%;}
FROM P {clear: left; margin: 0.2em, padding: 0.1em;}
FORM P LABEL {float: left; width: 25%; font-weight. bold;}
.error {color: red;}