@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');

body{
    background-color: rgb(164, 242, 201);
    font-family: 'Roboto Condensed', sans-serif;;
}

h3{
    color: rgb(14, 3, 3);
    text-align: center;
}


.contenedor img{
    margin: auto;
    display: block;
    height: 200px;
    position: relative;
    border-radius: 50%;
}
