body{
    margin: 0;
    background: rgb(248, 248, 248);
    font-family: 'Bree Serif', serif;
}
h1{
    color: rgb(57, 169, 30);
    font-size: 3rem;
    margin: 1rem;
}
hr{
    background: rgb(6, 206, 6);
}
.encabezado{
    width: 100%;
    height: 60px;
    background: rgba(235, 235, 235, 0.945);
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 0;
    border-bottom: 1px solid rgb(204, 204, 204);
    box-shadow: 0 0 10px rgb(165, 165, 165);
    gap: 10px;
    z-index: 10;
}
.img_logo_SENA{
    width: 50px;
    margin-left: 20px;
    transition: all .7s;
}
.img_logo_SENA:hover{
    opacity: 0.7;
}
.encabezado i{
    color: rgb(57, 169, 30);
    font-size: 35px;
    margin-left: 20px;
}
.encabezado .search{
    height: 30px;
    width: 200px;
    background: none;
    border: none;
    padding-left: 5px;
    border-bottom: 2px solid rgb(146, 146, 146);
    border-radius: 3px;
    padding: 5px;
    transition: all .6s;
}
.encabezado .search:focus{
    height: 30px;
    width: 350px;
    background: none;
    outline: none;
    border-bottom: 2px solid rgb(68, 212, 32);
    box-shadow: 0 0 4px rgb(127, 201, 108);
}
.btn-enviar_solicitud{
    color: white;
    background: rgb(57, 169, 30);
    padding: 8px 30px 8px 30px;
    margin: 10px;
    border-radius: 10px;
}
a{
    text-decoration: none;
    color: rgb(57, 169, 30);
    transition: all .7s;
}
a:hover{
    opacity: 0.7;
}
.barras{
    margin-left: auto;
    margin-right: 10px;
}
.btn{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.btns .btn-nav{
    margin-left: 20px;
    color: white;
    background: rgb(57, 169, 30);
    padding: 5px 30px 5px 30px;
    border-radius: 5px;
    box-shadow: 0 0 8px grey;
}
.container-list{
    display: flex;
    margin: 20px;
    flex-wrap: wrap;
    gap: 15px;
}
.container-list input{
    border: none;
    background: none;
    border-bottom: 2px solid rgb(146, 146, 146);
    border-radius: 3px;
    padding: 5px;
    transition: all .6s;
}
.container-list input:focus{
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(68, 212, 32);
    box-shadow: 0 0 4px rgb(127, 201, 108);
}
.container-list label select{
    background: none;
    border: none;
    border-bottom: 2px solid rgb(146, 146, 146);
    border-radius: 10px;
}
.container-list label select:focus{
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(68, 212, 32);
    box-shadow: 0 0 4px rgb(127, 201, 108);
}
.container-list label option{
    border-radius: 10px;
}
.container-list .desempeño{
    width: 250px;
}
/* Table */
.tabla-asistencias{
    display: flex;
    justify-content: center;
}
table tr:nth-child(even) {
    background-color: rgb(196, 255, 196);
}

table tr:nth-child(odd) {
    background-color: rgb(221, 221, 221);
}
.tabla-asistencias table tr th{
    text-align: center;
    padding: 10px 40px 10px 40px;
    border: 2px solid grey;
}
.tabla-asistencias table tr td{
    text-align: center;
    border-bottom: 2px solid grey;
}
.tabla-asistencias table tr .verde{
    background: rgb(67, 251, 67);
}
.tabla-asistencias table tr .amarillo{
    background: rgb(255, 255, 27);
}
.tabla-asistencias table tr .rojo{
    background: rgb(255, 51, 51);
}
.tabla-asistencias table tr .azul{
    background: rgb(71, 71, 255);
}
.btn-asistencias{
    background: rgb(68, 212, 32);
    color: white;
    padding: 7px;
    border-radius: 7px;
    margin: 0 0 0 1.5rem;
}
.btn-1{
    margin-left: 14rem;
}