  div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  button {
    margin: 0 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #3498db;
    cursor: pointer;
  }

  button:hover {
    background-color: #2980b9;
  }

  p {
    font-size: 36px;
    margin: 0;
  }
  .function {
    margin: 0 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #d06112;
    cursor: pointer;
  }
