*{
    list-style: none;
}
body{
    background: rgb(169, 173, 183);   
}
.titulos{
    text-align: center;
    color: brown;
}
.imagen{
    height:  px;
    border-radius: 50%;
}
nav{
    position: sticky;
    margin: 0%;
    top: 0px;
    z-index: 10;
}
nav ul{
    display: flex;
    background: rgb(106, 164, 195);
    justify-content: space-between;
}
nav ul li{
    list-style: none;
    padding: 1rem;
    transition: all .5s;
}
nav ul li:hover{
    opacity: .7;
    background: rgb(149, 163, 177);
    transition: .5s;
}
nav ul li a{
    text-decoration: none;
    color: rgb(188, 202, 98);
    font-weight: 900;
    font-size: 1.2rem;
}

