@import url('https://fonts.googleapis.com/css2?family=Acme&family=Chela+One&display=swap');

*{
    font-family: 'Acme', sans-serif;
    font-family: 'Chela One', cursive;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    background-color: rgb(198, 249, 255);
  }

  h1{
    font-size: 30px;
  }
  
  .container2{
    padding-top: 200px;
    padding-left: 70px;
  }
  .container {
    background-color: rgb(20, 201, 201);
    border-radius: 20px;
    box-shadow: 8px 15px 7px rgba(19, 8, 31, 0.2);
    border: 1px solid #cccccc;
    padding: 10px;
    max-width: 500px;
    height: fit-content;
    margin: 0 auto;
    font-size: 21px;
  }
  p{
    font-size: 25px;
  }
  #texto{
    font-size: 15px;
  }