body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
}

.btncolor{
    font-size: 20px;
    box-shadow: 3px 3px 25px rgb(8, 8, 8);
    cursor: pointer;
    background-color: rgb(247, 109, 250);
    width: 250px;
    height: 40px;
    padding: 20px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btncolor:active{
    background-color: blue;
}
