@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Roboto+Mono:ital,wght@0,100;0,200;0,400;0,600;0,700;1,100&display=swap");

* {
    box-sizing: border-box;
    font-family: "Roboto Mono";
    margin: 0;
    padding: 0;
}

a{
    color: #fff;
}

html {
    scroll-behavior: smooth;
}

/*================ Menu ================*/
.container-header {
    background-color: rgba(48, 48, 48, 0.98);
    transition: background-color 0.5s ease; /* transición suave */
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    /* background-color: white;color por defecto */
}

.container-header header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.container-header header .logo a {
    font-family: Righteous;
    font-size: 36px;
    color: #3e923a;
    text-decoration: none;
}

.container-header header ul {
    display: flex;
    list-style: none;
}

.container-header header nav ul li a {
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: 0.5s;
    text-decoration: none;
}

.container-header header nav ul li a:hover {
    color: #3e923a;
}

.nav-responsive {
    background-color: #3e923a;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/*================ Section Inicio ================*/
.inicio {
    background: linear-gradient(
            to top,
            rgba(48, 48, 48, 0.99),
            rgba(48, 48, 48, 0.4)
        ),
        url("../img/fondo.jpeg") no-repeat center center;
    background-size: cover;
    height: 55vw;
    color: #fff;
    display: flex;
    align-items: center;
}

.inicio .container-banner {
    padding: 20px;
    background-color: rgb(48, 48, 48);
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}

.inicio .container-banner img {
    margin-top: 40px;
    border: 10px solid #3e923a;
    box-shadow: 0px 0px 30px 2px #68a063;
    display: block;
    width: 75%;
    margin: auto;
    border-radius: 100%;
}

.inicio .container-banner h1 {
    margin-top: 30px;
    font-size: 40px;
    font-family: "Righteous";
}

.inicio .container-banner h2 {
    font-size: 15px;
    font-weight: normal;
}

.inicio .container-banner .redes a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 40px 5px;
    font-size: 20px;
    transition: 0.4s;
}

.inicio .container-banner .redes a:hover {
    background-color: #3e923a99;
    box-shadow: 0px 0px 10px 2px #68a063;
}

/*================ Section Sobre Mi ================*/
.sobremi {
    background-color: #303030;
    color: #fff;
    padding: 50px 20px;
}

.sobremi .container-section {
    max-width: 1100px;
    margin: auto;
}

.sobremi h2 {
    font-size: 48px;
    font-family: "Righteous";
    text-align: center;
    padding: 20px 0;
}

.sobremi .container-section p {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}

.sobremi .container-section p span {
    color: #3e923a;
    font-weight: bold;
}

.sobremi .fila {
    display: flex;
}

.sobremi .fila .col {
    width: 50%;
}

.sobremi .fila .col h3 {
    font-size: 28px;
    font-family: "Righteous";
    margin-bottom: 25px;
}

.sobremi .fila .col ul {
    list-style: none;
}

.sobremi .fila .col ul li {
    margin: 11px 0;
}

.sobremi .fila .col ul li strong {
    display: inline-block;
    color: #3e923a;
    width: 130px;
}

.sobremi .fila .col ul li span {
    background-color: #3e923a;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}

.sobremi .fila .col .container-intereses {
    display: flex;
    flex-wrap: wrap;
}

.sobremi .fila .col .container-intereses .interes {
    width: 100px;
    height: 100px;
    background-color: #3c3c3c;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.sobremi .fila .col .container-intereses .interes:hover {
    background-color: #3e923a;
    box-shadow: 0px 0px 9px 1px #68a063;
}

.sobremi .fila .col .container-intereses .interes i {
    font-size: 23px;
    margin-bottom: 10px;
}

.sobremi button {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    position: relative;
    z-index: 10;
}

.sobremi button .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #3e923a;
    z-index: -1;
    transition: 1s;
}

.sobremi button:hover .overlay {
    width: 100%;
    box-shadow: 0px 0px 10px 2px #68a063;
}

/*================ Section Skills ================*/
.skills {
    background-color: #343434;
    color: #fff;
    padding: 50px 20px;
}

.skills .container-section {
    max-width: 1100px;
    margin: auto;
}

.skills h2 {
    font-size: 48px;
    font-family: "Righteous";
    text-align: center;
    padding: 20px 0;
}

.skills .fila {
    display: flex;
}

.skills .fila .col {
    width: 50%;
    padding: 0 20px;
}

.skills .fila .col h3 {
    font-size: 28px;
    font-family: "Righteous";
    margin: 25px;
}

.skills .skill > span {
    font-weight: bold;
    display: block;
}

.skills .skill .barra-skill {
    height: 8px;
    width: 80%;
    background-color: #131517;
    position: relative;
    margin-bottom: 30px;
}

.skills .skill .progreso {
    background-color: #3e923a;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}

.skills .skill .barra-skill span {
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #3e923a;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}

/* Animación de la clase Skills js */
.skills .skill .javascript {
    width: 0%;
    animation: 1.7s javascript forwards;
}

@keyframes javascript {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}

.skills .skill .node {
    width: 0%;
    animation: 1.7s node forwards;
}

@keyframes node {
    0% {
        width: 0%;
    }

    100% {
        width: 50%;
    }
}

.skills .skill .mongodb {
    width: 0%;
    animation: 1.7s mongodb forwards;
}

@keyframes mongodb {
    0% {
        width: 0%;
    }

    100% {
        width: 60%;
    }
}

.skills .skill .git {
    width: 0%;
    animation: 1.7s git forwards;
}

@keyframes git {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

.skills .skill .htmlcss {
    width: 0%;
    animation: 1.7s htmlcss forwards;
}

@keyframes htmlcss {
    0% {
        width: 0%;
    }

    100% {
        width: 75%;
    }
}

.skills .skill .react {
    width: 0%;
    animation: 1.7s react forwards;
}

@keyframes react {
    0% {
        width: 0%;
    }

    100% {
        width: 45%;
    }
}

/* Animación de la clase Profesional Skills js */
.skills .skill .communication {
    width: 0%;
    animation: 1.7s communication forwards;
}

@keyframes communication {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

.skills .skill .team {
    width: 0%;
    animation: 1.7s team forwards;
}

@keyframes team {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

.skills .skill .creative {
    width: 0%;
    animation: 1.7s creative forwards;
}

@keyframes creative {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

.skills .skill .dedication {
    width: 0%;
    animation: 1.7s dedication forwards;
}

@keyframes dedication {
    0% {
        width: 0%;
    }

    100% {
        width: 98%;
    }
}

.skills .skill .htmlcss {
    width: 0%;
    animation: 1.7s htmlcss forwards;
}

@keyframes htmlcss {
    0% {
        width: 0%;
    }

    100% {
        width: 75%;
    }
}

.skills .skill .project {
    width: 0%;
    animation: 1.7s project forwards;
}

@keyframes project {
    0% {
        width: 0%;
    }

    100% {
        width: 60%;
    }
}

/*================ Section Curriculum ================*/
.curriculum {
    background-color: #303030;
    color: #fff;
    padding: 50px 20px;
}

.curriculum .container-section {
    max-width: 1100px;
    margin: auto;
}

.curriculum h2 {
    font-size: 48px;
    font-family: "Righteous";
    text-align: center;
    padding: 20px 0;
}

.curriculum .fila {
    display: flex;
}

.curriculum .fila .col {
    width: 49%;
    padding: 0 20px;
}

.curriculum .fila .col h3 {
    font-size: 28px;
    font-family: "Righteous";
    margin-bottom: 25px;
}

.curriculum .fila .izquierda {
    border-right: 2px solid #3c3c3c;
}

.curriculum .fila .derecha {
    border-left: 2px solid #3c3c3c;
}

/* Aplicamos estilo a item: */
.curriculum .fila .item {
    padding: 20px;
    margin-bottom: 30px;
    background-color: #3c3c3c;
    position: relative;
}

.curriculum .fila .item h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.curriculum .fila .item .casa {
    color: #3e923a;
    font-size: 20px;
    font-weight: bold;
    display: block;
}

.curriculum .fila .item .fecha {
    display: block;
    color: #3e923a;
    margin-bottom: 10px;
}

.curriculum .fila .item p {
    line-height: 24px;
}

/* Aplicamos el estilo a fila izq y der */
.curriculum .fila .izq {
    border-right: 2px solid #3e923a;
    margin-right: 20px;
}

.curriculum .fila .der {
    border-left: 2px solid #3e923a;
    margin-left: 20px;
}

/* Continuamos añadiendo estilo a los conectores y círculos */
.curriculum .fila .item .conector-i {
    height: 2px;
    background-color: #3e923a;
    width: 47px;
    position: absolute;
    top: 50%;
    right: -47px;
    z-index: 5;
}

.curriculum .fila .item .conector-i .circulo-i {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #3e923a;
    float: right;
    position: relative;
    bottom: 4px;
}

.curriculum .fila .item .conector-d {
    height: 2px;
    background-color: #3e923a;
    width: 47px;
    position: absolute;
    top: 50%;
    left: -47px;
    z-index: 5;
}

.curriculum .fila .item .conector-d .circulo-d {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: rgb(62, 146, 58);
    float: left;
    position: relative;
    bottom: 4px;
}

/* Aplicaremos un ajuste a .curriculum .fila a través del justify-content */
.curriculum .fila {
    display: flex;
    justify-content: space-between;
}

/*================ Section Portfolio ================*/
.portfolio {
    background-color: #353535;
    color: #fff;
    padding: 50px 20px;
    text-decoration: none;
    
}

.portfolio .container-section {
    max-width: 1100px;
    margin: auto;
}

.portfolio h2 {
    font-size: 48px;
    font-family: "Righteous";
    text-align: center;
    padding: 20px 0;
}

/* Estilos de la galería */
.portfolio .galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio .galeria .proyecto {
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}

.portfolio .galeria img {
    width: 100%;
    display: block;
}

/* Estilo del overlay */
.portfolio .galeria .proyecto .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(62, 146, 50, 0.6), rgba(62, 146, 50, 0.5));
    box-shadow: 0px 0px 10px 2px #68a063;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.5s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration-color: #fff;
}

/* Estilo h3 y hover */
.portfolio .galeria .proyecto h3 {
    margin-bottom: 20px;
    transition: 0.5s;
}

.portfolio .galeria .proyecto .overlay:hover {
    opacity: 1;
}

.portfolio .galeria .proyecto .overlay:hover h3 {
    margin-bottom: 0px;
}

/*================ Section Contacto ================*/
.contacto {
    background-image: url("../img/contact_bg.png");
    background-color: #303030;
    color: #fff;
    padding: 50px 0;
}

.contacto .container-section {
    max-width: 1100px;
    margin: auto;
}

.contacto h2 {
    font-size: 48px;
    font-family: "Righteous";
    text-align: center;
    padding: 20px 0;
}

.contacto .fila {
    display: flex;
}

.contacto .col {
    width: 50%;
    padding: 10px;
    position: relative;
}

/* Estilos input y textarea */
.contacto .col input,
.contacto .col textarea {
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #3c3c3c;
    color: #fff;
    font-size: 17px;
}

/* Estilos Button */
.contacto button {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}

/* overlay & hover */
.contacto button .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #3e923a;
    transition: 1s;
    z-index: -1;
}

.contacto button:hover .overlay {
    width: 100%;
    box-shadow: 0px 0px 10px 2px #68a063;
}

/* Estilos img, .info, ul, li, i */
.contacto .col img {
    width: 100%;
}

.contacto .col .info {
    position: absolute;
    top: 40%;
    background-color: #3c3c3c;
    padding: 20px;
    width: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contacto .col .info ul {
    list-style: none;
}

.contacto .col .info ul li {
    margin-bottom: 20px;
}

.contacto .col .info ul li i {
    color: #3e923a;
    display: inline-block;
    margin-right: 20px;
}

/*================ Footer ================*/
footer {
    background-color: #3c3c3c;
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}

footer .redes {
    margin-bottom: 20px;
}

footer .redes a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transform: 3s;
    transition: 0.4s;
}

footer .arriba {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #3e923a;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
    transition: 0.4s;
}

footer .redes a:hover,
footer .arriba:hover {
    background-color: #1cb69899;
    box-shadow: 0px 0px 10px 2px #68a063;
}

/*================ Media Queries - Responsive ================*/

/* Responsive a 1300px */
@media screen and (max-width: 1300px) {
    .inicio {
        height: 100vw;
    }
}

/* Ocultar el menú */
@media screen and (max-width: 980px) {
    nav {
        display: none;
    }
    .nav-responsive {
        display: block;
    }
    nav.responsive {
        display: block;
        position: absolute;
        right: 0;
        top: 80px;
        right: 5px;
        border-radius: 10px;
        background-color: #3c3c3c;
        width: 180px;
    }

    nav.responsive ul {
        display: block !important;
    }

    nav.responsive ul li {
        border-bottom: 1px solid #f0eeee;
        padding: 10px 0;
        position: relative;
    }
     #contacto {
        border: none !important;
    }

    nav.responsive nav.ocultar-menu {
        opacity: 0;
        transition: opacity 8s ease-in-out;
    }
    .responsive.cerrar-menu {
        transform: translateX(-100%);
    }
    @keyframes cerrar-menu {
        from {
            transform: translateX(0%);
            transition: opacity 8s ease-in-out;
        }
        to {
            transition: opacity 0.5s;
            transform: translateX(-100%);
        }
    }
}

/* Responsive para 700px */
@media screen and (max-width: 700px) {
    .sobremi .fila {
        display: block;
    }

    .sobremi .fila .col {
        width: 100%;
    }

    .skills .fila {
        display: block;
    }

    .skills .fila .col {
        width: 100%;
    }

    .skills .fila .col .barra-skill {
        width: 100%;
    }

    .curriculum .fila {
        display: block;
    }

    .curriculum .fila .col {
        width: 90%;
    }

    .curriculum .fila .derecha {
        margin-left: 20px;
    }

    .portfolio .galeria {
        display: block;
        width: 100%;
    }

    .portfolio .galeria .proyecto {
        max-width: 100%;
    }

    .portfolio .galeria .proyecto img {
        width: 100%;
    }

    .contacto .fila {
        display: block;
    }

    .contacto .fila .col {
        width: 100%;
    }
}
