@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;500;600&family=Roboto:ital,wght@0,500;1,100;1,400&display=swap');

*{
    font-family: "Rajdnani", sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background: rgb(0, 0, 0);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    overflow-y: hidden;
    overflow-x: hidden;
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20200621/pngtree-abstract-modern-neon-frame-background-image_339537.jpg);
  }
  main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main .testimonials{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-wrap: inherit;
    justify-content: center;
    align-items: center;
    overflow: auto;
    gap: 1em;
  }
  .container__testimonials{
    width: 450px;
    padding: 1.5em 3em;
    height: fit-content;
    padding-bottom: 2em;
    text-align: center;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  
    animation: animationHiden 4s;
  }
  
  @keyframes animationHiden {
    0%{
        left: -50%;
    }
    100%{
        left: 50%;
    }
  }
  
  .name__testimonial{
    color: rgb(0, 0, 0);
    font-size: 1.7em;
    font-size: 3em;
  }
  .testimonial{
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 2em;
  }
  .hidden_animation{
    left: 150%;
    animation: hidden_animation 2s;
  }
  @keyframes hidden_animation {
    0%{
        left: 50%;
    }
    100%{
        left: 150%;
    }
  }
  