h1{
    color: rgb(253, 251, 251);
    font-size: 30px;
    font-style: inherit;
    text-align: center;
    text-decoration: none;
    text-transform: none;

}
h2{
    color:hsl(0, 25%, 98%);
    font-size: 30px;
    text-align: center;
    text-decoration:rgb(69, 75, 75);
    text-transform: uppercase;

}
h3 {
    color:white;
    font-size: 30px;
    

}
p{
    font-size: smaller;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
      
}
div.contenedor img{
    width: 300px;
    margin-right: 20px;
    border-radius: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

th {
    color :blackgit ;
    font-size: 20px;
    text-transform: none;

}
li a{ 
    color: white;
    text-align: center;
    


}

html{
    font-size: large;
    background-color:rgb(158, 149, 149);
}
div ul li a{
    display: flex;
    justify-content:space-around;
    padding: 0cm;
    margin: 10px;
    background: rgb(185, 179, 179);
    

}
div ul li a:hover{
    color: white;
    display: block;
    text-decoration: none;
    padding: .7em 1em;
    

}
div li{
    list-style: none;
    margin-left: 20px;

}
hr{
    display: flex;
}
.label {
    font: size 19px;
    font-style: normal;
    font-family: monospace;
    text-align: center;
}

.hola{
    width: 30px;  
}
.inline{
    display:flex;
    background-color:rgb(244, 240, 239);
    height: 3rem;
    width:100vw ;
    align-items: center;
    justify-content: center;
    padding: 1em;
    list-style: none; 

}







