body{
    background-color: rgb(160, 173, 173);}
h1{
    color: rgb(3, 3, 3);
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    font-family: "press start 2p", cursive;
}
    o{
        color:rgb(15, 15, 15);
    font-family: "titan one",cursive;
    line-height: 1em;
align-items: center;   
}

