body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: rgb(39, 37, 37);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

form{
    width: 370px;
    height: fit-content;
    background: rgba(55, 58, 58, 0.644);
    border-radius: 10px;
    box-shadow: 0 0 15px rgb(224, 219, 212);
}

form label {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 2em;
    padding: 1.5em 0;
}

form label h2{
    margin: 0;
    font-weight: bold;
    color: antiquewhite;
    font-size: 3em;
    margin-bottom: .5em;
    text-transform: uppercase;
}

form label input{
    background: none;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(250, 250, 250);
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    color: antiquewhite;
}
form label button{
    border: none;
    background: none;
    color: white;
    text-transform: capitalize;
    background: antiquewhite;
    color: rgb(44, 42, 42);
    font-size: 1.4em;
    padding: .3em 2em;
    border-radius: 15px;
    transition: all .5s;
    cursor: pointer;
}
form label button:hover{
    background: rgb(44, 42, 42);
    color: antiquewhite;
    box-shadow: 0 0 10px white;
}
