@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: rgb(98, 105, 102);
}

.stopWatch{
    background-image: linear-gradient(rgb(40, 18, 53), rgb(20, 71, 32)),
    url(img/background.png);
    max-width: 600px;
    background-size: cover;
    background-position: center;
    padding: 40px 0;
    border-radius: 20%;
    margin: 200px auto 0;
    text-align: center;
    color: white;
}

.stopWatch h1{
    font-size: 80px;
    margin: 50px 0;
}

.controls{
    display: flex;
    align-items: center;
    justify-content: center;
}

.stopWatch img{
    width: 60px;
    margin: 0 30px;
    cursor: pointer;
}

.stopWatch img:nth-child(2){
    width: 90px;
}