body{
    margin: 0;
    padding: 0;
    background: rgb(208, 204, 204);
   
}

img{
    width: 220px;
    height: 210px;
    image-rendering: crisp-edges;
    opacity: .8;
    border-radius: 50px;
    box-shadow: 0 0 7px;
    transition: linear .3s;
}

h1{
    text-align: center;
    text-transform: uppercase;
    font-size: xx-large;;
    color: white;

}



#info{
    text-align: start
    text-transform

}
h2{
    text-align: center;
    text-transform: uppercase;
    font-size: large;
    color: white;
  

}

.icono{
    width: 60px;
    height: 60px;

}
.icono1{
    width: 60px;
    height: 60px;
}

    

hr{
    border-color: rgba(78, 199, 243, 0.92);
    margin-top: 1rem;
    width: 80%;
}

nav{
    position: sticky;
    margin: 0;
    top: -17px;
    z-index: 10;
}
nav ul{ 
    display: flex;
    background: rgba(78, 199, 243, 0.92);
}
nav ul li{
    list-style: none;
    padding: 1rem;
    transition: all .5s;
}
nav ul li:hover{
    opacity: .7;
    background: rgba(26, 27, 27, 0.972);
}
nav ul li a{
    text-decoration: none;
    color: rgb(239, 232, 232);
    font-weight: 900;
    font-size: 1.2rem;
}

.container a{
    border: solid 2px;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    padding: 3px;
    margin: 3px;
    box-shadow: 2px 2px 0px;

}

    .container.perfil{
        border: solid 2px;
     display: flex;
     justify-content: center;
     border-radius: 8px;
     padding: 3px;
     margin: 3px;
     box-shadow: 2px 2px 0px;
    }
    
    
    #experiencia{
        display: flex;
        background: rgba(78, 199, 243, 0.92);
        justify-content: center;
    }
    

    #expertise{
        width: 700px;
        height: 200px;
        margin: 0 auto;
        text-align: center;
        border: solid 2px;
        justify-content: center;
        border-radius: 8px;
        padding: 3px;
        box-shadow: 2px 2px 0px;
    }

       
    #habilidades{
        display: flex;
        background: rgba(78, 199, 243, 0.92);
        justify-content: center;
    }

#educacion{
    display: flex;
        background: rgba(78, 199, 243, 0.92);
        justify-content: center;
}

#perfiles-sociales{
    display: flex;
        background: rgba(78, 199, 243, 0.92);
        justify-content: center;
}

#hability{
    border:solid;
    
}


#education{
    width: 700px;
    height: 200px;
    margin: 0 auto;
    text-align: center;
    border: solid 2px;
    justify-content: center;
    border-radius: 8px;
    padding: 3px;
    box-shadow: 2px 2px 0px;
}

#contenido{
    width: 700px;
    margin: 0 auto;
    text-align: center;
    border: solid 2px;
    justify-content: center;
    border-radius: 8px;
    padding: 3px;
    box-shadow: 2px 2px 0px;
    text-align: left;
}


    
   
 







