@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');

*{
    font-family: 'Sigmar', cursive;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

.container {
    width: 500px;
    min-height: 200px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(242, 255, 121);
    border: solid 1px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}

.emoticon {
    font-size: 80px;
}

.broma {
    text-align: center;
    color: black;
    font-weight: 500;
    opacity: 0;
}

.deslizar {
    opacity: 1;
    transition: 1.5s;
}

button {
    padding: 10px 25px;
    margin-top: 20px;
    box-shadow: 5px 5px 0;
    cursor: pointer;
    position: relative;
}

button:active {
    position: relative;
    top: 5px;
    left: 5px;
    box-shadow: none;
}