/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
  }
  
  section {
    background-color: #f9f9f9;
    padding: 20px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  /* Media Queries para diseño responsivo */
  @media (max-width: 768px) {
    main {
      grid-template-columns: 1fr;
    }
  }
  
  @media (max-width: 480px) {
    header {
      text-align: center;
    }
  
    nav ul li {
      display: block;
      margin-bottom: 10px;
    }
  }
  