*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consolas;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #edf1f4;
}
.dark{
    background: #282c2f;
}
.dark .calculator{
    background: #33393e;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, .25),
    -15px -15px 20px rgba(255, 255, 255, .1);
}
.dark .calculator .buttons #value{
    box-shadow: inset 15px 15px 20px rgba(0, 0, 0, .25),
    inset -15px -15px 20px rgba(255, 255, 255, .1);
    color: #eee;
}
.dark .calculator .buttons span{
    color: #eee;
    border: 2px solid #33393e;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .25),
    -5px -5px 10px rgba(255, 255, 255, .1);
}
.dark .calculator .buttons span:active{
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, .25),
    inset -5px -5px 10px rgba(255, 255, 255, .1);
}
.dark .calculator .buttons span#clear,
.dark .calculator .buttons span#plus,
.dark .calculator .buttons span#equal{
    border: 2px solid #333;
}
.dark .calculator .buttons span#clear:active,
.dark .calculator .buttons span#plus:active,
.dark .calculator .buttons span#equal:active{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .1);
}
.dark .toggleBtn{
    background: #edf1f4;
    border: 2px solid #333;
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, .25),
    inset -15px -15px 20px rgba(255, 255, 255, .1);
}
.calculator{
    position: relative;
    width: 340px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, .1),
    -15px -15px 20px #fffb;
}
.calculator .buttons{
    position: relative;
    display: grid;
}
.calculator .buttons #value{
    position: relative;
    grid-column: span 4;
    user-select: none;
    overflow: none;
    width: 100%;
    text-align: end;
    color: rgb(244, 112, 65);
    height: 100px;
    line-height: 100px;
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, .1),
    inset -5px -5px 20px #fffb;
    border-radius: 10px;
    margin-bottom: 12px;
    padding: 0 20;
    font-size: 2em;
    font-weight: 500;
}
.calculator .buttons span{
    position: relative;
    padding: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .1),
    -5px -5px 20px #fffb;
    margin: 10px;
    cursor: pointer;
    user-select: none;
    min-width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    color: rgb(88, 85, 85);
    border: 2px solid #edf1f4;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .1),
    -5px -5px 10px #fffb;
    border-radius: 10px;
}
.calculator .buttons span:active{
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, .1),
    inset -5px -5px 20px #fffb;
    color: rgba(8, 223, 202, 0.905);
}
.calculator .buttons span#clear{
    grid-column: span 2;
    background: rgb(213, 71, 71);
    color: #fffb;
    border: 2px solid #edf1f4;
}
.calculator .buttons span#plus{
    grid-row: span 2;
    background: rgb(127, 253, 60);
    color: #fffb;
    border: 2px solid #edf1f4;
}
.calculator .buttons span#equal{
    grid-row: span 2;
    background: rgb(60, 201, 253);
    color: #fffb;
    border: 2px solid #edf1f4;
}
.calculator .buttons span#clear:active,
.calculator .buttons span#plus:active,
.calculator .buttons span#equal:active{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .1),
    -5px -5px 10px #fff,
    inset 5px 5px 10px rgba(0, 0, 0, .1) 
}
.toggleBtn{
    position: fixed;
    width: 20px;
    height: 20px;
    background: rgb(57, 57, 57);
    border-radius: 50%;
    top: 20px;
    right: 20px;
    cursor: pointer;
    border: 2px solid #edf1f4;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .1),
    -5px -5px 10px #fff;
}
