@import url('https://fonts.googleapis.com/css2? family= Poppins:wght@400;500;700 & display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(173, 96, 255);
}

.btn {
    width: 300px;
    background-color: bisque;
    color: rgb(0, 0, 0);
    padding: 4px;
    border-radius: 20px;
    border: 2px solid;
    box-shadow: 3px 3px 3px rgb(0, 0, 0);
    font-size: 15px;
    cursor: pointer;
    gap: 10px;
}

.btn:active{
    outline: none;
    position: relative;
    top: 10px;
    left: 2px;
    box-shadow: none;
}