@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: red;
    flex-direction: column;
}

.container{
    background: #fff;
    border-radius: 12px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 10px;
    position: relative;
    width: 520px;
}

.resultado{
    background: #fff;
    border-radius: 12px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem;
    width: 520px;
    gap: 10px;
    padding-top: 0px;
}

.resultado h2,h4{
    color: red;
}

.loading{
    text-align: center;
}
.data-wrapper1{
    display: flex;
    gap: 14rem;
}
 button{
    padding: 5px 10px;
 }

#icon{
    position: absolute;
    display: block;
    left: 3.8rem;
    top: 107px;
    cursor: pointer;
  }
.container h2{
    font-size: 35px;

}
#buscador{
  width: 27rem;
  height: 3rem;
  padding-left: 2rem ;


}

.container p{
    width:480px;
    text-align: center;

}

input{
    outline: none;
}

input:focus + span>i {
color:red;
}


input:focus{
    outline:solid red;
 
}

.hidden{
    display: none;
}


    



