body{
    background-color: #b99372;
    margin:auto;
    padding:auto;
    font-family:'Times New Roman', Times, serif
}

legend{
    border:solid 1px;
    border-radius: 15px;
    background-color: rgb(245, 213, 191);
    font-size:larger;
    font-weight: 600;
}

div{
    background-color: #fae7d6;
    border: 1px solid black;
    padding: 12px;
    width: 65%;
    margin: 0 auto;
}

.me{
    text-align: right;
}

.container ul{
    display: flex;
    background:#f5cfaf;
    height: 4rem;
    width:auto;
    align-items:center;
    justify-content:center;
}

.container ul li{
    list-style:circle;
    margin-left: 30px;
}

.container ul li a{
    text-decoration:solid;
    color:#884f1e;
    transition:linear,1.5s;
}

.container ul li a:hover{
    color:#fff7f0;
}

.perfil img{
    width: 220px;
    height: 210px;
    image-rendering: crisp-edges;
    opacity: .8;
    border-radius: 50%;
    box-shadow: 0 0 7px #884f1e;
    transition:linear .3s;
}