

<<<<<<< HEAD

=======
body{
    margin: 0;
    padding: 0;
    background: rgba(243, 206, 236, 0.515);
    font-family: 'Nunito';
}
>>>>>>> 29ed84acf7faee6622d3fbdef9c0e93c15bdb4ef
.titulos{ color:aquamarine(113,52,52);
font-size:3rem;}
html{
    scroll-behavior: smooth;
}
.container{
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
}

nav ul{ 
    display: flex;
<<<<<<< HEAD
    background: rgba(169, 245, 251, 0.92);
}
nav ul li{
    list-style: none;
    padding: 1rem;
=======
    background: rgba(150, 236, 242, 0.92);
}
nav ul li{
    list-style: none;
    padding: 0.5rem;
>>>>>>> 29ed84acf7faee6622d3fbdef9c0e93c15bdb4ef
    transition: all .5s;
}

nav ul li a{
    text-decoration: none;
    color: rgb(9, 9, 9);
    font-weight: 900;
    font-size: 1.2rem;
}
.C-perfil{
    display: flex;
    gap: 4rem;
    width: 50vw;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;

}
.C-perfil .infoPersonal p{
    font-size: 1.rem;
}
.C-perfil .infoPersonal{
    width: 700px;
}
.C-perfil img{
    width: 400px;
    height: 280px;
    image-rendering: crisp-edges;
    opacity: .8;
    border-radius: 10%;
    box-shadow: 0 0 7px rgba(3, 3, 3, 0.904);
    transition: opacity .5s;
}
.C-perfil img:hover{
    opacity: .7;
}
.C-perfil .infoPersonal h1{
    color: rgb(10, 10, 10);
    font-weight: 900;
}

.areaExperiencia{
    display: flex;
    width: 880px;
    flex-direction: column;
    align-items: center;
}
.areaExperiencia p{
    font-size: 1.4rem;
}
nav ul li:hover{
    opacity: .7;
<<<<<<< HEAD
    background: rgba(24, 204, 245, 0.87);
=======
    background: rgba(25, 206, 246, 0.87);
>>>>>>> 29ed84acf7faee6622d3fbdef9c0e93c15bdb4ef
}

.perfil img{
    width: 220px;
    height: 210px;
    image-rendering: crisp-edges;
    opacity: .8;
    border-radius: 50%;
    box-shadow: 0 0 7px rgba(19, 19, 19, 0.904);
    transition: opacity .5s;
}
.C-perfil{
    margin: 2em;
    text-align: center;
}
.C-perfil{
    text-align: center;
}
.C-perfil{
    border: 1px solid rgb(6, 7, 7);
    border-radius: 15px;
    background: rgb(33, 230, 248);
    font-size: 1rem;
    padding: .5em;
<<<<<<< HEAD
    width: 525px;
=======
    width: 535px;
>>>>>>> 29ed84acf7faee6622d3fbdef9c0e93c15bdb4ef
    box-shadow: 0 0 5px rgb(246, 32, 153);
    margin: 20px;
}

.Experiencia{display: flex;
width: 100vw;
justify-content: center;
flex-direction: column;
align-items: center;
}
.tabla{
    width: 220px;
    height: 210px;
    opacity: .8;
    border-radius: 50%;
    box-shadow: 0 0 7px rgba(77, 187, 136, 0.904);
    transition: opacity .5s;
}
.Experiencia{
    display: flex;
    width: 100vw;
    height: auto;
    justify-content: center;
}

.Experiencia{
    margin: 2em;
    text-align: center;
}
.tabla{
    border: 1px solid rgb(6, 7, 7);
    border-radius: 15px;
    background: rgb(33, 230, 248);
    font-size: 1rem;
    padding: .5em;
    width: 525px;
    box-shadow: 0 0 5px rgb(246, 32, 153);
    margin: 20px;
}
.habi{  
    text-align: center;
}
.habi{
    width: 220px;
    height: 210px;
    opacity: .8;
    border-radius: 50%;
    box-shadow: 0 0 7px rgba(77, 187, 136, 0.904);
    transition: opacity .5s;
}
.habi{
    border: 1px solid rgb(6, 7, 7);
    border-radius: 15px;
    background: rgb(33, 230, 248);
    font-size: 2rem;
    padding: .5em;
    width: 700px;
    box-shadow: 0 0 5px rgb(246, 32, 153);
    margin: 20px;
}
.habi{
    display: flex;
    width: 510px;
    flex-direction: column;
    align-items: center;
}
.habi p{
    font-size: 1.4rem;
}

.habi table tr th{
    color: rgb(255, 0, 170);
    font-weight: 700;
}
.habi table tr td{
    text-align: center;
    border-bottom: 1px solid rgb(7, 7, 7);
}
.edu{
    border: 1px solid rgb(6, 7, 7);
    border-radius: 15px;
    background: rgb(33, 230, 248);
    font-size: 1rem;
    padding: .5em;
    width: 525px;
    box-shadow: 0 0 5px rgb(246, 32, 153);
    margin: 20px;
}

.edu{
    margin: 2em;
    text-align: center;
}
.per{
    border: 1px solid rgb(6, 7, 7);
    border-radius: 15px;
    background: rgb(33, 230, 248);
    font-size: 1rem;
    padding: .5em;
    width: 525px;
    box-shadow: 0 0 5px rgb(246, 32, 153);
    margin: 20px;
}
.per{
    margin: 2em;
    text-align: center;
}
.inline{
    border: 1px solid rgb(6, 7, 7);
    border-radius: 15px;
    background: rgb(33, 230, 248);
    font-size: 1rem;
    padding: .5em;
    width: 525px;
    box-shadow: 0 0 5px rgb(246, 32, 153);
    margin: 20px;
}
.titulos{
    color: rgb(255, 0, 170);

}