*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #5b5f70;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40%;
    width: 40%;
    background-color: #b3c4d8;
    min-width: 350px;
    box-shadow: 0 0 2em #000;
    border-radius: 2em;

}

.botones {
    display: flex;
    justify-content: space-between;
    width: 15em;
    padding:  2rem 0;
}


button {
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 1em;
    cursor: pointer;
}

button:hover {
    box-shadow: 1px 2px 5px #000;
}
button:active {
    background-color: #dbdbdb;
}
.div-reset {
    padding-bottom: 20px;
}

h1 {
    padding: 20px 0;
}