*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    background-color: antiquewhite;
    background-image: url('../fondo.jpg');
    background-size: cover;
}

.stopWatch{
    max-width: 600px;
    background-size: cover;
    background-position: center;
    padding: 40px 0;
    margin: 200px auto 0;
    text-align: center;
    color: white;
    background: rgba(193, 198, 199, 0.418);
    border-radius: 20px;
    backdrop-filter: blur(5px);
}

.stopWatch h1{
    font-size: 80px;
    margin: 50px 0;
    color: rgb(58, 56, 56);
}

.controls{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    font-size: 2em;
    color: black;
}

.stopWatch .img{
    cursor: pointer;
}
.stopWatch .img:nth-child(2){
    font-size: 3em;
    color: red;
}