@import url('https://fonts.googleapis.com/css2?family=Comme:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; ;
}

html {
    font-size: 62.3%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
}

.container {
    width: 500px;
    min-height: 150px;
    padding: 20px;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
}

h1{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-shadow: 1px 1px black;
    margin-bottom: 1.5rem;
}

.container-busqueda{
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 2rem;
}

input {
    padding: 5px 10px;
    font-weight: 500;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(138, 139, 138);
}

button {
    background-color: rgb(0, 247, 255);
    border: none;
    color: white;
    border-radius: 2rem;
    cursor: pointer;
}

.resultado{
    margin-top: 10px;
}

.resultado .flag-img{
    display: block;
    width: 45%;
    min-width: 7.5em;
    margin: 1.8em auto 1.2em auto;
}

.resultado h2 {
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1.8em;
}

.resultado .data-wrapper{
    margin-bottom: 1em;
    letter-spacing: 0.3px;
}

.resultado h4{
    display: inline;
    font-weight: 500;
    color: #ffffff;
}

.resultado span {
    color:aqua;
}

.resultado h3 {
    margin-top: 10px;
    text-align: center;
    font-size: 1.2em;
    font-weight: 400;
    color: #ff465a;
}

.resultado .loading {
    margin-top: 10px;
    margin-bottom: -10px;
    color: black;
    font-size: 15px;
    text-align: center;
}
