li{
  font-size: 15pxs;  
  font-style: italic;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
o{
    font-size: medium;  
    font-style: normal;
    font-family: cursive;
    text-align: center;  
}
html{
    background-color: rgb(166, 215, 228);
}
h1{
    color: rgb(57, 19, 163);
    text-align: center;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
menu{
    padding: 1em;
}
div ul{
    display:flex ;
    justify-content: space-around;
    padding: 0%;
    margin: 10px;
    background:rgb(57, 138, 192);
    list-style: none;
}
div li a{
    color: rgb(255, 255, 255);
    display: block;
    text-decoration: none;
    padding: .7em 1em;
}
div li{
    background: rgb(rgb(4, 41, 255), green, blue);
}

  img{
      width: 400px;
      margin-right: 25px;
      border-top: 15px;
      border-radius: 30px;
  }