@import url('https://fonts.googleapis.com/css2? family= Poppins:wght@100;200;400;600;800 & family= Rammetto+One & display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;800&family=Rajdhani:wght@300;500;600&family=Rammetto+One&display=swap');
* {
    box-sizing: border-box;
}
                                                    
body {
    font-family: "Rajdhani";
    background: url(../img/fondo.png);
    background-attachment: fixed;
    background-size: cover;
}
                                                    
#pantalla-inicial {
    display: block;
    max-width: 700px;
    margin: 50px auto;
    text-align: center;
    background: rgba(255, 255, 255, .7);
    padding: 30px;
    border: 2px none #000;
    border-radius: 20px;
}
                                                    
#pantalla-inicial h1 {
    font-family: "Rammetto one";
    font-size: 50px;
    color: #191818;
}
                                                    
button {
    background: #2196f3;
    border: none;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    cursor: pointer;
    margin: 0 20px;
    border-radius: 30px;
    border-bottom: 4px solid #1465bb;
}
                                                    
button:hover {
    border-bottom: 4px solid transparent;
    background-color: #1465bb;
}
                                                    
#pantalla-juego {
    display: none;
}
                                                    
.pregunta-actual {
    background: #000 !important;
    color: #fff !important;
}
                                                    
.bien-respondida {
    background-color: #3edbbb !important;
    color: #fff!important;
}
                                                    
.mal-respondida {
    background-color: #fb797b !important;
    color: #fff !important;
}
                                                    
.contenedor-pregunta {
    background-color: rgba(255, 255, 255, .7);
    text-align: center;
    max-width: 700px;
    margin: auto;
    border: 2px none #000;
    border-radius: 20px;
    padding: 0 20px;
    height: 250px;
}
                                                    
.contenedor-pregunta #pregunta {
    margin: 0;
    font-weight: normal;
}
                                                    
.contenedor-pregunta input {
    display: inline-block;
    margin: 10px 0;
    font-size: 25px;
    padding: 10px;
    text-align: center;
    width: 60%;
    border-radius: 30px;
    border: none;
    outline: none;
    border: 2px solid #ccc;
}
                                                    
.contenedor-pregunta #letra-pregunta {
    border: 2px solid #000;
    display: inline-block;
    color: #000;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 30px;
    position: relative;
    bottom: 25px;
    background: #fff;
}
                                                    
.container {
    position: relative;
    width: 255px;
    height: 255px;
    margin: 50px auto;
    border: 2px solid #000;
    border-radius: 50%;
    background: rgba(255, 255, 255, .7);
    display: flex;
    justify-content: center;
    align-items: center;
}
                                                    
.container #tiempo {
    font-size: 50px;
    font-weight: bold;
}
                                                    
.circle {
    position: absolute;
    width: 50px;
    height: 50px;
    border: 1px solid#000;
    background: #fff;
    color: #5972d9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
                                                    
#pantalla-final {
    display: none;
    max-width: 700px;
    margin: auto;
    text-align: center;
    background: rgba(255, 255, 255, .7);
    padding: 30px;
    border: 2px solid #000;
    border-radius: 20px;
}
                                                    
#pantalla-final span {
    background: #000;
    width: 100px;
    margin: auto;
    color: #fff;
    display: flex;
    justify-content: center;
    font-size: 60px;
    font-weight: bold;
    border-radius: 50%;
    margin-bottom: 30px;
}