@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

body {
    display: flex;
    align-items: center;
    background-color: #404258;
    justify-content: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    width: 425px;
    align-items: center;
    justify-content: center;
    background-color: #A5C9CA;
    min-width: 350px;
    padding: 20px;
}

.showText {
    cursor: pointer;
}

.error {
    display: none;
    padding: 10px 30px;
    background-color: rgba(255, 77, 77, .456);
}

h3 {
    display: none;
}

.myInput {
    display: block;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(99, 96, 96, 0.455);
    padding: 6px 12px;
    font-size: 17px;
    font-weight: 400;
}