@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

*{
    font-family: 'Secular One', sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    background: url("../api-consumo01/img/SPONGEBOB\ CHASE\ \(3840×2160\).png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.container{
    width: 500px;
    min-height: 200px;
    color: white;
    padding: 20px;
    display: flex;
    border: 2px solid rgb(9, 69, 147);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(62, 62, 62, 0.823);
    border-radius: 20px;
    box-shadow: inset 0 0 40px rgb(13, 22, 74),
    0 0 40px black;
}

.emoticon{
    font-size: 80px;
}

.broma{
    text-align: center;
    color: black;
    font-weight: 500;
    opacity: 0;
    color: white;
}

.deslizar{
    opacity: 1;
    transition: opacity 1.5s;
}

button{
    padding: 10px 25px;
    margin-top: 20px;
    font-weight: bold;
    box-shadow: 5px 5px 0;
    cursor: pointer;
    position: relative;
    background-color: rgb(4, 188, 255);
    border-radius: 10px;
}

button:active{
    position: relative;
    top: 5px;
    left: 5px;
    box-shadow: none;
}