*{
    list-style: none;
}
body{
    background: rgb(89, 91, 96);   
}
html{
    scroll-behavior: smooth;
}
nav{
    position: sticky;
    margin: 0%;
    top: 0px;
    z-index: 10;
}
nav ul{
    display: flex;
    background: rgb(36, 33, 33);
    justify-content: space-between;
}
nav ul li{
    list-style: none;
    padding: 1rem;
    transition: all .5s;
}
nav ul li:hover{
    opacity: .7;
    background: rgb(30, 110, 189);
    transition: .5s;
}
nav ul li a{
    text-decoration: none;
    color: rgb(255, 244, 40);
    font-weight: 900;
    font-size: 1.2rem;
}
.titulos{
    text-align: center;
    color: rgb(254, 234, 13);
    font-size: 3rem;
}
.imagen{
    height:  450px;
    border-radius: 50%;
}
a{
    color: rgb(255, 255, 255);
}
body{
    text-align: center;
    font-style: inherit;
    color: rgb(255, 255, 255);
}
.tabla{
    display: flex;
    width: 100vw;
    justify-content: center;
}
.container-p{
    display: flex;
    width: 100vw;
    justify-content: center;
}
.container-p .sub-container{
    display: flex;
    width: 700px;
    align-items: center;
    gap: 3rem;
    font-size: 1.6rem;
}
.logos{
    display: flex;
    justify-content: center;
    gap: 3rem;
}