body{
    margin: 0;
    padding: 0;
    background: rgb(66, 66, 66);
    width: 100vw;
    height: 100vh;
    background-image: url('../img/fondo.jpg');
    background-size: cover;
}
main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .testimonials{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-wrap: inherit;
    justify-content: center;
    align-items: center;
    overflow: auto;
    gap: 1em;
}
.container__testimonials{
    width: 450px;
    padding: 1.5em 3em;
    height: fit-content;
    padding-bottom: 2em;
    text-align: center;
    background: rgba(105, 116, 116, 0.295);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    animation: animationHiden 3s;
}

@keyframes animationHiden {
    0%{
        position: absolute;
        left: -50%;
    }
    100%{
        left: 50%;
    }
}

.name__testimonial{
    color: white;
    font-size: 1.7em;
    font-size: 3em;
}
.testimonial{
    color: gainsboro;
    font-weight: bold;
    font-size: 2em;
}