@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;500;600&family=Roboto:ital,wght@0,500;1,100;1,400&display=swap');

*{
    font-family: "Rajdnani", sans-serif;
}

.images{
    background: url("/img/foto.jpeg");
    width: 900px;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 4rem auto;
    border: 8px solid rgb(255, 0, 208);
    border-radius: 10px;
    position: relative;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.6);
}

.btn-left, .btn-right{
    position: absolute;
    background-color: black;
    border: 5px solid rgb(255, 0, 212);
    color: rgb(255, 0, 208);
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
}
.btn-left{
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
}
.btn-right{
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
}