@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
        h1{
            color: red;
            font-size: 50px;
            text-align: center;
            text-transform: uppercase;
            font-family: 'Press Start 2P', cursive;
        }
        @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Titan+One&display=swap');
        p{
            color: rgb(255, 255, 255);
            font-family: 'Titan One', cursive;
            font-size: 30px;
            line-height: 3em;
        }
        @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Titan+One&display=swap');
        li{
            list-style: square outside;
            color: white;
            font-family: 'Titan One', cursive;
            font-size: 30px;
            list-style-type: upper-roman;
        }
        body{
            background: url(./imagenes/lfndtoirttvx.jpg);
            background-size: cover;
        }
        .gif {
            display: flex;
            justify-content: right;
            
        }