body{
    background-color: rgb(106, 225, 251);
}
.center ul{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center ul li{
    margin-left: 1.5em;
    list-style: none;
    color: black;
}
.center ul li a{
    color: rgb(239, 41, 87);
    text-decoration: none;
}
.info{
    display: flex;
    width: 100vw;
    height: auto;
    flex-direction: column;
    align-items: center;
}
img{
    width: 16rem;
}
.menu{
    padding: 1 em;

}
.ceneter {
 display: flex;
 justify-content: center;


}
div ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 10;
     background:rebeccapurple(17,17,17)
     list-style 
}
 div li a{
     color: rgb(52, 14, 177);
     display:block;
     text-decoration: none;
     padding: .7em 1em;

 }
 div li a{
     background: rgb(106, 225, 251);
 }
 
 