@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;500;600&family=Roboto:ital,wght@0,500;1,100;1,400&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: rgb(218, 233, 222);
}

.container{
    background-color: rgb(167, 31, 235);
    width: 400px;
    height: 350px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
h1 {
    font-size: 35px;
    height: 100px;
}
.numeros {
    font-size: 45px;
    font-weight: bold;
    margin: 2rem 0;
}
.botones {
    display: flex;
    gap: 12rem;
    justify-content: space-between;
  }
.disminuir{
    width: 110px;
    border: none;
    color: rgb(14, 13, 13);
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 0.3rem;
    cursor: pointer;
}
.aumento{
    width: 110px;
    border: none;
    color: rgb(10, 10, 10);
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 0.3rem;
    cursor: pointer;
}
.reinicio{
    width: 100px;
    border: none;
    color: rgb(10, 10, 10);
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 0.3rem;
    cursor: pointer;
}  

