body{
    margin: 0;
    padding: 0;
    background-color: rgb(56, 56, 56);
    width: 100vw;
    height: 100vh;
}
main{
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
}
h2{
    text-align: center;
    color: white;
}
.galery{
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
}
.image{
    cursor: pointer;
    width: 150px;
    height: 150px;
    display: flex;
    border-radius: 50%;
    box-shadow: 0 0 10px antiquewhite;
    justify-content: center;
    align-content: center;
}
.image:hover > .name_poke{
    color: rgb(235, 215, 215);
    font-weight: bold;
    backdrop-filter: blur(10px);
    height: fit-content;
    z-index: 20;
}
.image:hover > .img_poke{
    left: 3%;
}
.image .img_poke{
    position: relative;
    top: 50%;
    left: 15%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 10;
    transition: all .5s;
}
.image .name_poke{
    position: relative;
    z-index: -10;
    top: 70%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: transparent;
    transition: all .5s;
    height: fit-content;
    font-size: 1.3em;
}