@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    font-family: "Poppins", sans-serif;
}

body {
    background-color: antiquewhite;

}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

/* etiqueta del producto */
.tag {
    font-size: .9rem;
    background-color: #000;
    border-radius: 5px;
    width: 4rem;
    display: flex;
    justify-content: center;
    color: #fff
}

/* producto */
.product-title {
    font-size: 2rem;
    font-weight: 700;
}

.product-card {
    background: #fff;
    display: grid;
    grid-template-rows: 55% 45%;
    min-height: 680px;
    min-width: 425px;
    box-shadow: 10px 10px 25px 0px #3c3c3c;
}

.product-description {
    background-color: #62c256;
    color: #fff;
    padding-left: 20px;
    margin-top: -67px;
}

.product-img {
    background-image: url("https://acroadtrip.blob.core.windows.net/catalogo-imagenes/xl/RT_V_dfc5bc45064f4732a68e0bd28d39b6f5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 10px;
    /* width: 427px; */
    height: 233px;
}


.product-details {
    display: flex;
    flex-direction: column;
    margin-top: -20px;
}

.product-img img {
    width: 28rem;
}

.stars {
    color: #FFD700;
    font-size: 1em;
}

/* colores */
.colors-price {
    display: flex;
    align-items: center;
    width: 85%;
    justify-content: space-between;
    margin-top: -15px;
}

.colors {
    display: flex;
    width: 6rem;
    justify-content: space-between;
    cursor: pointer;
}

.red {
    background: #ff0000;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.green {
    background: #2d572c;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.black {
    background: #000000;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.pricing {
    display: flex;
    width: 12rem;
    justify-content: space-between;
    align-items: center;
}

.old-price {
    font-weight: 100;
}

/* botones */
button {
    cursor: pointer;
}

#button {
    background-color: #000;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
}

/* button #white-button {
    background-color: #fff;
} */

.button-text {
    color: #fff;
    margin-left: 5px;
}

.feedback {
    display: none;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    width: 380px;
}