#contenedor{
	width:80%;
	max-width:950px;
}
#cabecera{
	font-size:2em;
	margin-bottom:.5em;
    font-family: cursive;
}
#menu{
	margin-bottom:6em;
}
#menu a{
	text-decoration:none; /*Que los enlaces aparezcan sin subrayar */
}
#menu li{
	list-style-type:none; /*Quita los puntos de la lista*/
	float:left;
	margin:10px; /*Por fuera*/
	padding:0px; /*Por dentro*/
}	

#menu li a:hover{
	color:black;
}
#menu li a:visited{
	color:rgb(37, 99, 38);
}
#contenido{
	background-color:rgb(226, 186, 152);
	border:2px solid rgb(12, 12, 12);
	color:rgb(21, 20, 20);
}
.articulo h2{
	font-family:cursive;
	color:rgb(24, 9, 187);
}