body{
    margin: 0;
    background: rgb(248, 248, 248);
    font-family: 'Bree Serif', serif;
}
.encabezado{
    width: 100%;
    height: 60px;
    background: rgba(235, 235, 235, 0.945);
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 0;
    border-bottom: 1px solid rgb(204, 204, 204);
    box-shadow: 0 0 10px rgb(165, 165, 165);
    gap: 10px;
}
.img_logo_SENA{
    width: 50px;
    margin-left: 20px;
    transition: all .7s;
}
.img_logo_SENA:hover{
    opacity: 0.7;
}
.encabezado i{
    color: rgb(57, 169, 30);
    font-size: 35px;
    margin-left: 20px;
}
.encabezado .search{
    height: 30px;
    width: 200px;
    background: none;
    border: none;
    padding-left: 5px;
    border-bottom: 2px solid rgb(146, 146, 146);
    border-radius: 3px;
    padding: 5px;
    transition: all .6s;
}
.encabezado .search:focus{
    height: 30px;
    width: 350px;
    background: none;
    outline: none;
    border-bottom: 2px solid rgb(68, 212, 32);
    box-shadow: 0 0 4px rgb(127, 201, 108);
}
.btn-enviar_solicitud{
    color: white;
    background: rgb(57, 169, 30);
    padding: 8px 30px 8px 30px;
    margin: 10px;
    border-radius: 10px;
}
a{
    text-decoration: none;
    color: rgb(57, 169, 30);
    transition: all .7s;
}
a:hover{
    opacity: 0.7;
}
.barras{
    margin-left: auto;
    margin-right: 10px;
}
.btns .btn-nav{
    margin-left: 20px;
    color: white;
    background: rgb(57, 169, 30);
    padding: 5px 30px 5px 30px;
    border-radius: 5px;
    box-shadow: 0 0 8px grey;
}
.container-home-1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}
.container-bienvenido{
    display: inline-block;
    background: rgba(240, 240, 240, 0.842);
    width: 660px;
    height: 460px;
    border: 1px solid;
    margin-left: 20px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 15px grey;
}
.container-bienvenido span{
    display: block;
    margin-left: 20px;
    white-space: nowrap;
    font-family: monospace;
    font-size: 50px;
    color: rgb(57, 169, 30);
    border-right: 4px solid;
    width: 20ch;

    animation: typing 3.5s steps(20),blink .5s infinite step-end alternate;
    overflow: hidden;
}
@keyframes typing{
    from {width: 0;}
}
@keyframes blink{
    50% {border-color: transparent;}
}
.container-imgs{
    display: inline-block;
    background: rgba(240, 240, 240, 0.842);
    width: 710px;
    height: 500px;
    margin-left: 20px;
    border: 1px solid;
    position: relative;
    border-radius: 20px;
    z-index: 0;
    box-shadow: 0 0 15px grey;
    overflow: hidden;
}
.container-imgs img{
    width: 300px;
    position: absolute;
    border-radius: 10px;
    box-shadow: 0 0 10px grey;
    opacity: .8;
    border: 2px solid rgb(201, 201, 201);
    z-index: 0;
    transition: all 1.5s;
}
.container-imgs img:hover{
    width: 400px;
    opacity: 1;
    z-index: 0;
    top: 20%;
    left: 20%;
    rotate: 0deg;
}
.container-imgs .img_1{
    top: 200px;
    left: 10px;
    rotate: -10deg;
    z-index: -2;
}
.container-imgs .img_2{
    top: 150px;
    left: 400px;
    rotate: 10deg;
    z-index: -2;
}
.container-imgs .img_3{
    top: 200px;
    left: 200px;
    rotate: -10deg;
    z-index: -2;
}
.container-imgs .img_4{
    top: 100px;
    left: 100px;
    rotate: 20deg;
    z-index: -2;
}
.container-imgs .img_5{
    top: 10px;
    left: 200px;
    rotate: 10deg;
    z-index: -2;
}
.container-imgs .img_6{
    top: 50px;
    left: 450px;
    rotate: 20deg;
    z-index: -2;
}
.container-imgs .img_7{
    top: 10px;
    left: 10px;
    rotate: -20deg;
    z-index: -2;
}
.container-imgs .img_8{
    top: 350px;
    left: 50px;
    rotate: 10deg;
    z-index: -2;
}
.container-imgs .img_9{
    top: 350px;
    left: 370px;
    rotate: -10deg;
    z-index: -2;
}