body{
    margin: 0;
    background: rgb(248, 248, 248);
    font-family: 'Bree Serif', serif;
}
.encabezado{
    width: 100%;
    height: 60px;
    background: rgba(235, 235, 235, 0.945);
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 0;
    border-bottom: 1px solid rgb(204, 204, 204);
    box-shadow: 0 0 10px rgb(165, 165, 165);
    gap: 10px;
    z-index: 10;
}
.img_logo_SENA{
    width: 50px;
    margin-left: 20px;
    transition: all .7s;
}
.img_logo_SENA:hover{
    opacity: 0.7;
}
.encabezado i{
    color: rgb(57, 169, 30);
    font-size: 35px;
    margin-left: 20px;
}
.encabezado .search{
    height: 30px;
    width: 200px;
    background: none;
    border: none;
    padding-left: 5px;
    border-bottom: 2px solid rgb(146, 146, 146);
    border-radius: 3px;
    padding: 5px;
    transition: all .6s;
}
.encabezado .search:focus{
    height: 30px;
    width: 350px;
    background: none;
    outline: none;
    border-bottom: 2px solid rgb(68, 212, 32);
    box-shadow: 0 0 4px rgb(127, 201, 108);
}
.btn-enviar_solicitud{
    color: white;
    background: rgb(57, 169, 30);
    padding: 8px 30px 8px 30px;
    margin: 10px;
    border-radius: 10px;
}
a{
    text-decoration: none;
    color: rgb(57, 169, 30);
    transition: all .7s;
}
a:hover{
    opacity: 0.7;
}
.btns .btn-nav{
    margin-left: 20px;
    color: white;
    background: rgb(57, 169, 30);
    padding: 5px 30px 5px 30px;
    border-radius: 5px;
    box-shadow: 0 0 8px grey;
}
.barras{
    margin-left: auto;
    margin-right: 10px;
}
.container-cards{
    display: flex;
    flex-wrap: wrap;
    margin: 0 10px 0 10px;
    gap: 10px;

}
.card{
    box-shadow: 0 0 7px rgb(143, 247, 117);
    z-index: 1;
}
.col-md-4 img{
    border-radius: .5rem;
    margin: 7px;
    border: 1px solid grey; 
}
.card-body button{
    background:  rgb(57, 169, 30);
    border: 1px solid grey;
    transition: all .5s;
}
.card-body button:hover{
    background: rgb(57, 169, 30);
    opacity: .8;
    border: 1px solid grey;
}
.modal-footer button{
    background: rgb(57, 169, 30);
    transition: all .5s;
    border: 1px solid grey;
}
.modal-footer button:hover{
    background: rgb(57, 169, 30);
    opacity: .8;
    border: 1px solid grey;
}