*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background: #c3ead0;
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid rgb(241, 241, 241);
    outline: none;
    background-color: rgba(247, 226, 32, 0.75);
}

.calculator-grid > button:hover {
    background-color: rgba(60, 41, 235, 0.9);
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(254, 21, 21, 0.75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    color: rgba(17, 19, 17, 0.75);
    font-size: 1.5rem;
}

.output .current-operand {
    color: rgb(14, 14, 14);
    font-size: 2.5rem;
}
.calculadora .container-section{
    max-width: 1100px;
    margin: auto;
}
.calculadora h1{
    font-size: 50px;
        font-family: "Rajdhani";
        text-align: center;
        padding: 15px 0;
}