@import url('https://fonts.googleapis.com/css2? family= Poppins:wght@400;500;700 & display=swap');

* {
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    background-color: rgb(0, 0, 0);
}


.tag {
    font-size: 0.9rem;
    background-color: black;
    border-radius: 5px;
    width: 4rem;
    display: flex;
    justify-content: center;
    color: #ffffff;
}


.product.title {
    font-size: 2rem;
    font-weight: 700;
}

.product-card {
    background: #fff;
    display: grid;
    grid-template-rows: 55% 45%;
    height: 80%;
    width: 30%;
    box-shadow: 10px 10px 25px 0px #3c3c3c;
}

.product-image {
    background-image: url("https://pics.porsche.com/rtt/iris?COSY-EU-100-1713c6eK12UC31P3T5JOCU%25hjdmiTDDmvMXlHWguCuq6Q44RtRHo9ZAaDjYu5P3I7tGW3rNbZJNKXv9Z7KcQQ%25yFN5tFAsXrw4r3wo0qnqZr8MCnR4i84tV2YN2OmNyW1QGWgCWKMUuyOB7V60KBxVWTQOBBaif8261BDTnnqZ8fPLUSkMLBCrGN8uzvTLk6paV1maolzX2c7Llev1fUOwU7iVgxt%25MXl7pHOCT75WfjE");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 20px;
    width: 50rem;
    height: 80%;
}

.product-description{
    background-color: #17aeb3;
    color: #fff;
    padding-left: 20px;
    margin-top: -67px;
}

.product-details{
    display: flex;
    flex-direction: column;
    margin-top: -20px;
}

.product-image img{
    width: 20rem;
}

.stars{
    color: yellow;
    font-size: 1em;
}

.colors-price {
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-between;
    margin-top: -15px;
}

.color {
    display: flex;
    width: 6rem;
    justify-content: space-between;
    cursor: pointer;
}

.red {
    background: rgb(184, 0, 0);
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.gray {
    background: gray;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.black {
    background: black;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.yelow {
    background:rgb(255, 255, 0);
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.pricing {
    display: flex;
    width: 12rem;
    justify-content: space-between;
    align-items: center;
}

.old-price {
    font-weight: 100;
}

button {
    cursor: pointer;
}

#button {
    background-color: #000;
    padding: 20px 20px;
    border: none;
    border-radius: 5px;
}

button white-button {
    background-color: #fff;
}

.button-text {
    color: #fff;
    margin-left: 5px;
}

.feedback {
    display: none;
    padding: 20px 30px;
    border: none;
    border-radius: 6px;
}